In [ ]:
Questão #1

Vale
10

Enunciado
Um site é parte de um sistema. Podemos simplificar um sistema em 3 camadas:

Alternativas
[] Banco de Dados, Front-end e Site
[] Front-end, Back-end e Servidor
[X] Front-end, Back-end e Banco de Dados
[] Site, Back-end e Banco de Dados

In [ ]:
Questão #2

Vale
10

Enunciado
Assim como existem tipos de Linguagens de Programação Java, C#, Python, entre outras, nós também temos tipos de Banco de Dados. 
Eles podem ser dividos em Relacionais e Não Relacionais. Descreva o que são Banco de Dados Relacionais e Não Relacionais.

Um banco de dados RELACIONAL é um banco de dados estruturado que armazena e fornece acesso aos dados relacionados entre si, são elaborados de uma maneira intuitiva para representar dados em tabelas, colunas e linhas. Cada linha na tabela é um registro separado pelas colunas que contêm os atributos dos dados.

Um banco de dados NÃO RELACIONAL é um banco de dados que não usa o esquema de tabela de linhas e colunas, e não usam um modelo relacional, em vez disso, os bancos de dados não relacionais usam um modelo de armazenamento  de documentos otimizado para os requisitos específicos do tipo de dados que está sendo armazenado.

In [ ]:
Questão #3

Vale
10

Enunciado
Assinale a alternativa correta dos exemplos de Sistemas de Gerenciamento de Banco de Dados Relacionais Open Source.

Alternativas
[X] MySQL e PostgreSQL
[ ] AWS DynamoDB e AWS DocumentDB
[ ] SQLServer e Oracle
[ ] Cassandra e MongoDB

In [ ]:
Questão #4

Vale
10

Enunciado
Assinale a alternativa correta dos exemplos de Sistemas de Gerenciamento de Banco de Dados Relacionais Pago.

Alternativas
[ ] AWS DynamoDB e AWS DocumentDB
[ ] Cassandra e MongoDB
[ ] MySQL e PostgreSQL
[X] SQLServer e Oracle

In [ ]:
Questão #5

Vale
10

Enunciado
Qual instrução em SQL é usada para extrair dados de um banco de dados?

Alternativas
[ ] GET
[X] SELECT
[ ] EXTRACT
[ ] N/A
[ ] OPEN

In [ ]:
Questão #6

Vale
10

Enunciado
Para inserir um novo registro em um banco de dados relacional, qual instrução SQL se deve usar?

Alternativas
[ ] ADD NEW
[X] INSERT INTO
[ ] INSERT NEW
[ ] N/A
[ ] ADD INTO

In [ ]:
Questão #7

Vale
10

Enunciado
Em um banco Postgres é fundamental, do contrário não funcionará:

Alternativas
[ ] Escrever as consultas em letra maiúscula, como SELECT * FROM ...
[ ] Que todas as tabelas tenham chaves primárias
[ ] Terminar cada instrução com um ponto-e-vírgula
[X] N/A
[ ] Dispor de acesso READONLY, do contrário é impossível criar VIEWs e tabelas

In [ ]:
Questão #8

Vale
10

Enunciado
Utilizamos Modelagem de Dados para: 
Representar o ambiente observado; 
Fornecer processos de validação; 
Observar processos de relacionamentos entre objetos; 
Documentar. 
É importante entender sobre: Entidade, Atributo, Relacionamento e Cardinalidade. 
Descreva os 3 tipos de Modelagem de Dados.

Modelagem de Dados Conceitual
É utilizada para apresentar os aspectos do negócio do cliente e não envolvem conceitos tecnológicos.
Construimos o diagrama onde são identificados todas as entidades e os relacionamentos entre elas.
Este diagrama é a chave para a compreensão do modelo conceitual de dados.

Modelagem de Dados Lógica
O modelo lógico é criado com base na modelagem de dados conceitual.
A modelagem lógica implementa recursos como adequação de padrão e nomenclatura, define as chaves primárias e estrangeiras, normalização, integridade referencial, indices, valores padrão e outros recursos. 

Modelagem de Dados Física: 
É a transposição do modelo lógico em modelo físico no SGBD, ou seja, é o design do banco de dados na prática (real) com tabelas, colunas e constraints.

In [ ]:
Questão #9

Vale
10

Enunciado
Structured Query Language ou SQL é a linguagem mais conhecida do mundo e também a mais popular. 
É utilizada para executar comandos em Banco de Dados Relacionais, isto é, baseado em tabelas. 
É por meio dela que criamos databases, tabelas, colunas, indices, garantimos e revogamos privilégios a usuários 
e consultamos os dados armazenados no banco de dados. SQL é uma linguagem declarativa dividida em conjuntos de comandos:

Alternativas
[ ] DDL, DML, DCL, TCL e QLD
[X] DDL, DML, DCL, TCL e DQL
[ ] LDE, DML, DCL, TCL e DQL
[ ] DDL, DML, DLA, TCL e DQL

In [ ]:
Questão #10

Vale
10

Enunciado
Relatórios e gráficos são agregados de informações, precisamos aprender a juntar os dados em tabelas que sumarizem esses dados. 
Contando, somando, tomando a média, entre outros. 

Quais são as funções no SQL utilizadas para sumarizar dados?
As funções para sumarizar dados são: MIN(), MAX(), COUNT(), SUM(), AVG()
Filtro de agregação: HAVING

In [ ]:
Questão #11

Vale
10

Enunciado
Como fazemos para conectar dados que estão espalhados por mais de uma tabela num banco de dados relacional? Dê um exemplo.

Para conectar dados entre tabelas utilizamos a instrução JOIN, as tabelas envolvidas devem ter algum atributo (coluna) 
de relacionamento para "cruzar" as informações.

Ex: Selecionar o "Nome" da tabela A e B, onde os nomes são iguais nas duas tabelas.
SELECT a.Nome, b.Nome
FROM TabelaA as A
INNER JOIN TabelaB as B
                on a.Nome = b.Nome

In [ ]:
Questão #12

Vale
10

Enunciado
Com suas palavras, descreva sobre o banco de dados NoSQL MongoDB.


De forma resumida o MongoDB é um banco de dados opensource, que armazena os dados em forma de documentos, 
ao contrário de bancos de dados de modelo relacional, com o conceito de registros em linhas e colunas, 
garantindo alta performance e flexível, considerado um dos principais bancos de dados NoSQL.
Uma das principais vantagens dos bancos de dados NoSQL é a facilidade em provisionar escalabilidade e flexibilidade, 
obtendo ótimo desempenho e facilidade para consultas.


O MongoDB armazena os dados em forma de documentos, ao contrário de bancos de dados de modelo relacional, 
com o conceito de registros em linhas e colunas.
É um banco de dados opensource, de alta performance e flexível, considerado o principal banco de dados NoSQL. 
Uma das principais vantagens dos bancos de dados NoSQL é a facilidade em provisionar escalabilidade, flexibilidade, 
obtendo ótimo desempenho e facilidade para consultas.


É um banco de dados orientado a documentos

In [ ]:
Questão #13

Vale
10

Enunciado
Em SQL, como você extrairia todos os registros de uma tabela chamada "Cidades" onde o valor da coluna "Nome" começa com "Rio"?

Alternativas
[ ] SELECT FROM cidades AS c WHERE nome = 'Rio'
[ ] SELECT [*] FROM cidades WHERE nome <> '%Rio%'
[X] SELECT * from cidades AS c WHERE nome like 'Rio%'
[ ] SELECT * FROM cidades WHERE nome == 'Rio%'
[ ] SELECT nome AS nome_cidade FROM Cidades WHERE nome LIKE 'Rio%'

In [ ]:
Questão #14

Vale
10

Enunciado
Uma tabela chamada "Pedidos" em um banco Postgres possui, entre outras, uma coluna chamada "data_pedido" do tipo DATE. 
Como você faria para listar todos os pedidos feitos entre 1º de janeiro de 2019 e 31 de março do mesmo ano?

Alternativas
[ ] SELECT * FROM pedidos WHERE data_pedido IS IN FIRST_QUARTER(2019)
[ ] SELECT * FROM pedidos WHERE data_pedido IS BETWEEN 01/01/2019 AND 31/03/2019
[ ] SELECT * FROM pedidos WHERE data_pedido = MONTH('2019-01-01') AND data_pedido = MONTH('2019-02-01') AND data_pedido = MONTH('2019-03-01')
[ ] SELECT * FROM pedidos WHERE data_pedido IN (01/01/2019, 31/03/2019)
[X] SELECT * FROM pedidos WHERE data_pedido BETWEEN '2019-01-01' AND '2019-03-31'

In [ ]:
Questão #15

Vale
10

Enunciado
Em SQL, para: 
    1) extrair apenas registros únicos, 
    2) ordenar (em ordem alfabética), 
    3) contar apenas valores distintos, 
    4) agrupar (para contar, somar, etc.), temos as seguintes instruções, respectivamente:

Alternativas
[ ] 1) SELECT UNIQUE; 2) ORDER BY; 3) COUNT(*); 4) GROUPBY
[ ] 1) SELECT DIFFERENT; 2) ORDER; 3) COUNT(DISTINCT); 4) GROUP BY ASC
[X] 1) SELECT DISTINCT; 2) ORDER BY; 3) COUNT(DISTINCT); 4) GROUP BY
[ ] 1) SELECT DISTINCT; 2) ORDER BY ASC; 3) COUNT(DISTINCT); 4) GROUP BY ASC
[ ] 1) SELECT ONLY; 2) ORDER BY; 3) COUNT(DISTINCT); 4) GROUP BY

In [ ]:
Questão #16

Vale
10

Enunciado
A Amazon Web Services (AWS) é a plataforma de nuvem mais adotada e mais abrangente do mundo, 
oferecendo mais de 175 serviços completos de datacenters em todo o mundo. A infraestrutura da AWS é divida em:

Alternativas
[ ] Regions, Security Group e Local Zones
[X] Regions, Availability Zone e Local Zones
[ ] Cloudformation, Availability Zone e Local Zones
[ ] Regions, Availability Zone e Relational Database Service

In [ ]:
Questão #17

Vale
10

Enunciado
O Amazon Relational Database Service (Amazon RDS) é um web service que facilita a configuração, a operação e o dimensionamento 
de um banco de dados relacional na Nuvem AWS. 
Ele fornece capacidade econômica e redimensionável para um banco de dados relacional padrão do setor e gerencia tarefas comuns 
de administração de banco de dados. 
Quais Banco de Dados Relacionais podem ser provisionados utilizando o service RDS?

Alternativas
[ ] Amazon Aurora, Mysql, MariaDB, PostgreSQL, Oracle, DocumentDB
[ ] DynamoDB, Mysql, MariaDB, PostgreSQL, Oracle, SQL Server
[ ] Amazon Aurora, Mysql, Neptune, PostgreSQL, Oracle, SQL Server
[X] Amazon Aurora, Mysql, MariaDB, PostgreSQL, Oracle, SQL Server

In [ ]:
Questão #18

Vale
10

Enunciado
O AWS CloudFormation é um serviço que ajuda você a modelar e configurar seus recursos da Amazon Web Services 
para despender menos tempo gerenciando esses recursos e mais tempo se concentrando em seus aplicativos executados AWS. 
Em um template de CloudFormation qual é o recurso responsável por criar uma instância de banco de dados do Amazon RDS?

Alternativas
[X] AWS::RDS::DBInstance
[ ] AWS::RDS::DBCluster
[ ] AWS::EC2::Instance
[ ] AWS::RDS::DBSubnetGroup
                
referencia: https://docs.aws.amazon.com/pt_br/AWSCloudFormation/latest/UserGuide/aws-properties-rds-database-instance.html

In [ ]:
Questão #19

Vale
10

Enunciado
Para ativar o backup em uma instancia RDS provisionada no Cloudformation é necessário realizar o ajuste nos parâmetros:

Alternativas
[ ] BackupRetentionPeriod e MultiAZ
[X] BackupRetentionPeriod e PreferredBackupWindow
[ ] BackupRetentionPeriod e MonitoringInterval
[ ] PubliclyAccessible e PreferredBackupWindow

referencia: https://docs.aws.amazon.com/pt_br/AWSCloudFormation/latest/UserGuide/aws-properties-rds-database-instance.html

In [ ]:
Questão #20

Vale
10

Enunciado
Os bancos de dados NoSQL (ou não-relacionais) utilizam um padrão diferente de armazenamento em relação ao SQL. 
O grande diferencial dessa tecnologia é a capacidade de escalabilidade para as operações das empresas de uma forma mais simples
e econômica do que no banco relacional. Quais são os principais tipos de Banco de Dados Não-Relacionais?

Alternativas
[X] REDIS, CASSANDRA, HBASE, AMAZON DYNAMODB, NEO4J, MONGODB
[ ] REDIS, CASSANDRA, HBASE, AMAZON DYNAMODB, NEO4J, POSTGRESQL
[ ] REDIS, CASSANDRA, MYSQL, AMAZON DYNAMODB, NEO4J, MONGODB
[ ] REDIS, ORACLE, HBASE, AMAZON DYNAMODB, NEO4J, MONGODB

In [ ]:
Questão #21

Vale
10

Enunciado
Sua amiga está com umas ideias em mente para uma startup e a(o) chamou para ser a(o) CTO nesse novo empreendimento. 
Vocês já leram tudo sobre startups enxutas e não querem investir muito numa ideia a menos que ela tenha demanda de verdade 
e seja sustentável financeiramente. Portanto, estabeleceram para si mesmos a meta de testar um MVP por mês e ir pivotando 
de acordo com as demandas do mercado. Quando encontrarem algo em que valha a pena insistir, pretendem adicionar novas funções, 
mas não querem se prender indefinidamente num plano de negócios imutável. Como ninguém abre uma startup para crescer pouco, 
também esperam que dentro de 2 ou 3 anos tenham uma explosão no número de clientes. 
Assim, entre as questões que você, CTO, tem de tomar no início da operação é se deveriam começar a construir o backend sobre 
um banco de dados relacional ou não. Discuta abaixo, em NO MÁXIMO 100 palavras, sua decisão e o motivo dela.

É necessário ARMAZENAR as informações coletadas dos testes de forma temporal para que sejam elaborados 
estudos de acompanhamento, avaliação, comparação e desempenho. 
Para segurança das informações e agilidade é FORTEMENTE RECOMENDADO o uso de BANCOS DE DADOS podendo ser RELACIONAL ou NÃO RELACIONAL.

In [ ]:
Questão #22

Vale
1

Enunciado
Faça a modelagem e carga dos dados da base Chess.csv disponível no drive da turma: 
    https://drive.google.com/drive/folders/1GxDTQFcG3jzMhFBHPd_GQFGPDdLN98wS

Responda com o comando de criação da(s) tabela(s).


CREATE TABLE IF NOT EXISTS public.tb_chess
(
    Position_player bigint,
    Name_player varchar(100),
    ELO_player bigint,
    Date_player varchar(10),
    Age_player bigint
);

In [ ]:
Questão #23

Vale
1

Enunciado
Construa uma query que retorne quem foi o jogador que ficou por mais tempo como Top 1 do ranking e por quantos anos ele 
foi o Top 1.

SELECT position_player AS "Ranking", 
		COUNT(*) AS "Anos", 
		name_player AS "Jogador" 
FROM tb_chess 
WHERE position_player = 1
GROUP BY position_player, name_player
ORDER BY 1, 2 DESC

In [ ]:
Questão #24

Vale
1

Enunciado
Construa uma query que retorne quem foi o jogador que conseguiu o maior nível de Elo, quando isso aconteceu e qual foi o 
valor do Elo.

SELECT 	name_player AS "Jogador", 
		MAX(elo_player) AS "ELO",
		MAX(LEFT(date_player,4)) AS "ANO"
FROM TB_CHESS
GROUP BY name_player
ORDER BY "ELO" desc