In [1]:
import pandas as pd

amostra do arquivo

"DATA","ABERTURA","FECHAMENTO","VARIAÇÃO","MÍNIMO","MÁXIMO","VOLUME"  
"22/02/2021","118.388","112.668","-4,87","111.650","118.388","88,55B"  
"08/03/2021","115.202","110.612","-3,98","110.268","115.202","49,39B"  
"29/01/2021","118.880","115.068","-3,21","114.973","118.880","37,05B"  
"30/07/2021","125.672","121.801","-3,08","121.748","125.673","39,11B"  
"25/02/2021","115.668","112.358","-2,86","111.764","116.506","n/d"
"12/05/2021","122.964","119.710","-2,65","119.458","122.964","49,65B"
"15/01/2021","123.472","120.349","-2,54","120.185","123.472","9,39M"
"26/02/2021","112.260","110.035","-2,07","109.827","113.466","54,77B"
"25/06/2021","128.433","127.256","-1,74","126.697","129.748","37,09B"
"13/01/2021","123.996","121.933","-1,67","121.016","124.032","66,97B"
"23/03/2021","114.977","113.262","-1,49","113.062","115.599","31,02B"

In [8]:
ibov = pd.read_csv('Ibovespa IBOV - Historico  InfoMoney.csv')

In [9]:
ibov

           DATA ABERTURA  FECHAMENTO VARIAÇÃO   MÍNIMO   MÁXIMO  VOLUME
0    22/02/2021  118.388     112.668    -4,87  111.650  118.388  88,55B
1    08/03/2021  115.202     110.612    -3,98  110.268  115.202  49,39B
2    29/01/2021  118.880     115.068    -3,21  114.973  118.880  37,05B
3    30/07/2021  125.672     121.801    -3,08  121.748  125.673  39,11B
4    25/02/2021  115.668     112.358    -2,86  111.764  116.506     n/d
..          ...      ...         ...      ...      ...      ...     ...
143  17/03/2021  114.018     116.549     2,22  113.428  116.736  35,74B
144  05/03/2021  112.690     115.202     2,23  112.504  115.504  50,21B
145  23/02/2021  112.676     115.227     2,27  112.667  115.380  52,66B
146  28/01/2021  115.882     118.883     2,59  115.734  119.355  38,72B
147  07/01/2021  119.103     122.386     2,76  119.101  122.697  44,19B

[148 rows x 7 columns]

In [10]:
ibov.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148 entries, 0 to 147
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   DATA        148 non-null    object
 1   ABERTURA    148 non-null    object
 2   FECHAMENTO  148 non-null    float64
 3   VARIAÇÃO    148 non-null    object
 4   MÍNIMO      148 non-null    float64
 5   MÁXIMO      148 non-null    float64
 6   VOLUME      148 non-null    object
dtypes: float64(3), object(4)
memory usage: 8.2+ KB

In [13]:
ibov['DATA'] = pd.to_datetime(ibov['DATA'], format='%d/%m/%Y')

In [14]:
ibov

          DATA ABERTURA  FECHAMENTO VARIAÇÃO   MÍNIMO   MÁXIMO  VOLUME
0   2021-02-22  118.388     112.668    -4,87  111.650  118.388  88,55B
1   2021-03-08  115.202     110.612    -3,98  110.268  115.202  49,39B
2   2021-01-29  118.880     115.068    -3,21  114.973  118.880  37,05B
3   2021-07-30  125.672     121.801    -3,08  121.748  125.673  39,11B
4   2021-02-25  115.668     112.358    -2,86  111.764  116.506     n/d
..         ...      ...         ...      ...      ...      ...     ...
143 2021-03-17  114.018     116.549     2,22  113.428  116.736  35,74B
144 2021-03-05  112.690     115.202     2,23  112.504  115.504  50,21B
145 2021-02-23  112.676     115.227     2,27  112.667  115.380  52,66B
146 2021-01-28  115.882     118.883     2,59  115.734  119.355  38,72B
147 2021-01-07  119.103     122.386     2,76  119.101  122.697  44,19B

[148 rows x 7 columns]