# Monitoria 27/jul/2021

In [23]:
class Pessoa:
    
    lista_pessoas = []
    
    def __init__(self, nome, idade):
        self.nome = nome
        self.idade = idade
        self.filhos = []
        
        Pessoa.lista_pessoas.append(self)
        
    def tem_filho(self, filho):
        self.filhos.append(filho)
        
    def remove_pessoa(self):
        Pessoa.lista_pessoas.remove(self)
        
    def __repr__(self):
        return self.nome

In [16]:
p1 = Pessoa('Paulo', 30)
p2 = Pessoa('Ricardo', 18)

In [17]:
p2.nome

'Ricardo'

In [19]:
p3 = Pessoa('Ana', 25)

In [20]:
Pessoa.lista_pessoas

[Paulo, Ricardo, Ana]

------------

In [41]:
class Pessoa:
    
    todas = {}
        
    def __init__(self, nome, idade, cpf):
        self.nome = nome
        self.idade = idade
        self.filhos = 0
        
        Pessoa.todas[nome] = self
    
        
    def tem_filho(self):    
        self.filhos += 1
        
    def __repr__(self):
        return self.nome + ', ' + str(self.filhos) + ' filhos'

In [42]:
for i in range(20):
    nome = 'Pessoa ' + str(i)
    Pessoa(nome, i)

In [45]:
Pessoa.todas

{'Pessoa 0': Pessoa 0, 1 filhos,
 'Pessoa 1': Pessoa 1, 0 filhos,
 'Pessoa 2': Pessoa 2, 0 filhos,
 'Pessoa 3': Pessoa 3, 0 filhos,
 'Pessoa 4': Pessoa 4, 0 filhos,
 'Pessoa 5': Pessoa 5, 0 filhos,
 'Pessoa 6': Pessoa 6, 0 filhos,
 'Pessoa 7': Pessoa 7, 0 filhos,
 'Pessoa 8': Pessoa 8, 0 filhos,
 'Pessoa 9': Pessoa 9, 0 filhos,
 'Pessoa 10': Pessoa 10, 0 filhos,
 'Pessoa 11': Pessoa 11, 0 filhos,
 'Pessoa 12': Pessoa 12, 0 filhos,
 'Pessoa 13': Pessoa 13, 0 filhos,
 'Pessoa 14': Pessoa 14, 0 filhos,
 'Pessoa 15': Pessoa 15, 0 filhos,
 'Pessoa 16': Pessoa 16, 0 filhos,
 'Pessoa 17': Pessoa 17, 0 filhos,
 'Pessoa 18': Pessoa 18, 0 filhos,
 'Pessoa 19': Pessoa 19, 0 filhos}

In [44]:
Pessoa.todas['Pessoa 0'].tem_filho()

---------

In [4]:
# d. Função para o sorteio: essa função retira uma carta aleatória do baralho e retorna o 
# número de pontos que essa carta vale.
def sorteio(baralho):
    # int das cartas de um naipe 

    import random
    # gerar carta aleatória somente dentro da lista
    carta_sorteada = random.sample(baralho, 1)[0]
    print(carta_sorteada)

    baralho.remove(carta_sorteada)
    print(baralho)
    
    return carta_sorteada
    
baralho = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10]

numero_sorteado = sorteio(baralho)

2
[1, 3, 4, 5, 6, 7, 8, 9, 10, 10, 10, 10]

In [5]:
numero_sorteado

2