In [1]:
%config Completer.use_jedi = False

# Aula 1 - Tipos de dados, input/output, operadores matemáticos

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Tipos de variáveis;
- 2) Comentários;
- 3) Saída (output);
- 4) Entrada (input);
- 5) Operadores Matemáticos;

____

# 1) Tipos de variáveis

Em python, temos 5 **tipos** principais de dados básicos

## 1.1) Inteiros (int)
~ Tipo **inteiros** (int): são números inteiros, isto é, sem casas decimais.

- Ex:
    - 1 
    - 456
    - 124023
    - 0
    - -2 (números do tipo int podem ser negativos!)

No Jupyter, números inteiros são destacados em cor verde clara

Exemplo: a idade de uma pessoa em anos, número de filhos de uma pessoa, etc.

In [2]:
numero_de_filhos = 3

In [3]:
print(numero_de_filhos)

3

In [4]:
numero_de_filhos

3

## 1.2) Número flutuantes (float)
~ Tipo **float** (float): são números com casas decimais (**em python usamos ponto ao invés de vírgula para indicar cadas decimais!**)

- Ex:
    - 3.1415
    - 1.78
    - 10.0 (essa é a representação float de um número inteiro, 10) 
    - -42.73 (números do tipo float podem ser negativos!)

No Jupyter, números float também são destacados em cor verde clara

Exemplo: a altura de uma pessoa em metros

In [14]:
altura = 1.95

In [15]:
print(altura)

1.95

In [16]:
altura

1.95

## 1.3) Strings
~ Tipo **string** (str): são textos, que devem ser indicados entre aspas duplas " " ou aspas simples ' ' 

- Ex:
    - "Olá, mundo!" (para strings, podemos usar pontuação e acentuação sem problemas!)
    - "Nos encontramos às 9h30 amanhã?" (strings podem conter numeros!)
    - "100" (neste caso, é uma string que representa um numero inteiro)
    - "3.1415" (neste caso, é uma string que representa um numero float)

No Jupyter, strings são destacadas em cor vermelha

Exemplo: uma frase de despedida e um encontro marcado

In [17]:
nome = 'Alexandre'

In [18]:
nome

'Alexandre'

In [19]:
print(nome)

Alexandre

In [20]:
frase = 'Hoje está um bom dia!'

In [21]:
frase

'Hoje está um bom dia!'

In [23]:
outra_frase = "Que dia legal!"

In [24]:
outra_frase

'Que dia legal!'

In [25]:
uma_frase_com_aspas = 'Alexandre disse: "Que legal!"'

In [26]:
uma_frase_com_aspas

'Alexandre disse: "Que legal!"'

In [28]:
uma_outra_frase_com_aspas = 'Alexandre disse:' + '"Que legal!"'

In [29]:
uma_outra_frase_com_aspas

'Alexandre disse:"Que legal!"'

In [30]:
numero1 = 10

In [31]:
numero2 = 200

In [32]:
numero1 + numero2

210

In [33]:
numero1_str = "10"
numero2_str = "200"

In [34]:
numero1_str + numero2_str

'10200'

## 1.4) Booleanos
~ Tipo **booleanos** (bool): Verdadeiro (True) ou Falso (False)

- Únicos dois valores possíveis: **True** ou **False**

Vamos entender a enorme importância deste tipo de dado mais a frente no curso (operações lógicas, estruturas condicionais, etc.)

No Jupyter, bools são destacados em cor verde escuro

In [35]:
True

True

In [36]:
False

False

In [37]:
# É permitido somar booleanos, mas tome cuidado com o comportamento
True + True

2

In [44]:
True + False + True

2

In [45]:
# Conseguimos dividir booleanos!
False / True

0.0

In [46]:
# E multiplicar
True * True

1

## 1.5) NoneType
~ Tipo None: é a ausência de valor, ou um valor nulo.  
Ele pode ser utilizado para controlar comportamentos, indicar que uma variável não foi populada ou outras ações que serão úteis no futuro!

In [47]:
valor_nulo = None

In [49]:
print_var = print('Tudo é um objeto')

Tudo é um objeto

In [51]:
print_var

## 1.6) Verificando o tipo da variável
O tipo da variável influência no resultado que iremos obter como saída.  
O erro de tipagem de variável é um erro muito comum em código e por muitas vezes queremos descobrir qual o tipo da variável que estamos recebendo (input).

No Python podemos utilizar a função `type` para descobrir qual o "tipo" da variável.

In [53]:
type('Um numero')

str

In [54]:
type('11')

str

In [55]:
type(10)

int

In [56]:
type(1.0)

float

In [57]:
type(print_var)

NoneType

In [58]:
str_10 = '10'

In [59]:
type(str_10)

str

In [63]:
type(True)

bool

In [64]:
var_dinamico = 10

In [65]:
type(var_dinamico)

int

In [66]:
var_dinamico = True

In [67]:
type(var_dinamico)

bool

In [ ]:
# boa pratica
var_int = 10

var_bool = True

____
____
____

# 2) Comentários

São utilizados para melhor explicar um trecho de código.

Os comentários não são executados pelo Python. 

Tudo o que está comentado é ignorado, serve apenas para guiar o usuário.

É indicado com o uso da #, e em cor azul marinho no Jupyter

- Atalho: CTRL + / : A LINHA VIRA UM COMENTÁRIO

In [76]:
# definindo uma variavel que aramzena altura

altura = 1.95

# print(altura)

In [ ]:
# Criando um comentário na linha de código

altura = 1.95  # Valor da altura em metros

Embora você possa fazer comentários de várias linhas apenas colocando o # na frente de cada linha:

In [ ]:
# esse é um comentário muito grande, e por isso pode ser interessante
# quebrar ele em várias linhas, para ficar mais fácil de ler
# um comentário grande e complexo como esse no meio do código

Também é possível fazer comentários de várias linhas utilizando três aspas:

In [82]:
variavel = 10

"""
esse é um comentário muito grande, e por isso pode ser interessante
quebrar ele em várias linhas, para ficar mais fácil de ler
um comentário grande e complexo como esse no meio do código
"""

variavel = 2

...

variavel3 = 30

"""
Esse é outro comentário
"""
variavel3

30

strings: " " | ' '  
strings: """ """ | ''' '''

In [89]:
obs1 = """
esse é um comentário muito grande, e por isso pode ser interessante

quebrar ele em várias linhas, para ficar mais fácil de ler

um comentário grande e complexo como esse no meio do código
"""

In [90]:
print(obs1)

esse é um comentário muito grande, e por isso pode ser interessante

quebrar ele em várias linhas, para ficar mais fácil de ler

um comentário grande e complexo como esse no meio do código

In [91]:
obs1

'\nesse é um comentário muito grande, e por isso pode ser interessante\n\nquebrar ele em várias linhas, para ficar mais fácil de ler\n\num comentário grande e complexo como esse no meio do código\n'

In [83]:
obs2 = """
Esse é outro comentário
"""

In [85]:
print(obs2)

Esse é outro comentário

Note que estes "comentários" feitos com 3 aspas na verdade são strings de muitas linhas: mas o Python irá ignorá-las caso elas não sejá atribuídas a uma variável, funcionando, assim, como comentário.

De qualquer forma, o modo acima, com um # em casa linha é preferível!

____
____
____

# 3) Saída (output)

É como o computador **apresenta dados de saída** para um usuário.

Utilizamos a função print() para exibir o conteúdo na tela

In [92]:
# definição de uma string
nome = 'Marcelo'

# função que exibe para o usuário o que foi pedido
print(nome)

Marcelo

Podemos imprimir diversas strings ou diversas variáveis em sequência, utilizando vírgula para separá-las dentro do print:

In [93]:
# definindo uma variavel do tipo inteiro
numero = 42

# definindo uma string
nome_do_numero = 'quarenta e dois'

# exibindo as duas variáveis acima após uma outra string
print(numero, nome_do_numero)

42 quarenta e dois

In [95]:
print(numero, 'foi escolhido', nome_do_numero)

42 foi escolhido quarenta e dois

In [96]:
print(numero, 'foi escolhido', nome_do_numero, sep='\n')

42
foi escolhido
quarenta e dois

Um caractere especial do print é o "\n", que serve para fazer a quebra de linha:

In [99]:
clima = 'Frio'

In [100]:
print('Ontem fez:', '\n', clima)

Ontem fez:
 Frio

In [102]:
clima = 'calor'
print('Ontem fez:', '\n', clima)

Ontem fez:
 calor

____
____
___

# 4) Entrada (input)

É como o computador **coleta dados de entrada** de um usuário através do teclado.

Utilizamos a função input() para receber os dados do usuário, que deve digitá-los

Opcionalmente, podemos colocar uma frase de instrução ao usuário na função input, dentro dos parênteses

In [109]:
# recebo os dados do usuário através da função input,
# e armazeno o resultado na variável "meu_nome"
nome = input('Qual seu nome?')

print('Bem vindo! ' + nome)
print()
print('Bem vindo!', nome)

Qual seu nome? Marcelo

Bem vindo! Marcelo

Bem vindo! Marcelo

In [112]:
type(nome)

str

In [113]:
altura = input('Qual sua altura? ')

Qual sua altura?  1.95

In [114]:
# Qual o tipo da variável altura?
type(altura)

str

__IMPORTANTE: a função input() toma o que o usuário digitou como uma string! Se o usuário digitar algum número, e algum cálculo for feito com esse número, o número deve ser transformado em int ou float!__

A melhor forma de fazer isso, é já transformar o resultado da função input em float.

Fazemos isso com uma espécie de sanduíche, colocando a função input() dentro da função float(), que transforma uma string em um float!

OBS: é melhor transformar o input em float ao invés de int, pois o float é um tipo numérico mais genérico, apesar de ocupar (um pouco) mais memória

In [115]:
altura = float(input('Qual a sua altura? '))

altura

Qual a sua altura?  1.95

1.95

In [116]:
type(altura)

float

In [128]:
altura = float(input('Qual a sua altura em cm? '))

altura

Qual a sua altura em cm?  195.2

'195.2'

In [135]:
round(195.9)

196

In [136]:
round(195.499)

195

In [139]:
round(195.50001, ndigits=3)

195.5

In [129]:
type(altura)

str

In [130]:
altura = float(altura)

In [131]:
type(altura)

float

In [132]:
altura = int(altura)

In [124]:
int(195.2)

195

In [127]:
int(float('195.2'))

195

In [119]:
type(195.2)

float

In [120]:
int(195.2)

195

In [145]:
# calcula a soma dos dois números

num1 = float(input('Me fale um número: '))

num2 = float(input('Me fale outro número: '))


soma = num1 + num2

print("\nA soma dos números", num1, "+" , num2, "é:", num1+num2)

Me fale um número:  654897123
Me fale outro número:  454135464.21423

A soma dos números 654897123.0 + 454135464.21423 é: 1109032587.21423

____
____
____

# 5) Operadores Matemáticos

Em Python, temos as principais operações matemáticas, com os respectivos símbolos:

- soma: (+)

- subtração: (-)

- multiplicação: (*)

- divisão: (/)

- potência: (**)

Além disso, temos duas operações especiais:

- divisão inteira: (//) retorna a parte inteira da divisão entre dois números

- resto da divisão: (%) se lê "mod", e retorna o resto da divisão entre dois números

In [150]:
soma = 10 + 3
sub = 21 - 7
mult = 21 * 3
div = 10 / 3
potencia = 10 ** 2

In [151]:
print(soma)
print(sub)
print(mult)
print(div)
print(potencia)

13
14
63
3.3333333333333335
100

In [152]:
print(10/5)

2.0

In [153]:
print(10.5 - 2)

8.5

In [154]:
print(10.0 - 1)

9.0

In [155]:
print(10.0 ** 2)

100.0

In [156]:
10 // 3

3

In [157]:
10 % 3

1

In [158]:
10 % 2

0

In [159]:
15 % 4

3

Podemos calcular a área de um circulo
Dado que:

$Area = pi * raio^2$

Crie um programa que aceite como entrada um raio e imprima a área do circulo

In [ ]:
raio = ...

area = ...

print(...)

In [ ]:
15%4

OBS: o principal uso do operador resto da divisão (%) é para avaliar se um número é par ou impar:

- se o resto da divisão de um número por 2 **É ZERO**, ele é par;
- se o resto da divisão de um número por 2 **É UM**, ele é ímpar;

In [161]:
# calcula IMC
tabela = """
FAIXA | IMC | CLASSIFICAÇÃO

1 | Abaixo de 18,5                         |Adulto com baixo peso

2 | Maior ou igual a 18,5 e menor que 25,0 | Adulto com peso adequado

3 | Maior ou igual a 25,0 e menor que 30,0 | Adulto com sobrepeso

4 | Maior ou igual a 30,0 e menor que 35,0 | Adulto com obesidade grau I

5 | Maior ou igual a 35,0 e menor que 40,0 | Adulto com obesidade grau II

6 | Maior ou igual a 40,0                  | Adulto com obesidade grau III
"""

num1 = input("Qual a sua altura? ")

num2 = input("Qual o seu peso? ")

imc = float(num2) / (float(num1) ** 2)

print("\nSeu IMC é:", imc,"\n", tabela)

Qual a sua altura?  1.7
Qual o seu peso?  65

Seu IMC é: 22.49134948096886

FAIXA | IMC | CLASSIFICAÇÃO

1 | Abaixo de 18,5                         |Adulto com baixo peso

2 | Maior ou igual a 18,5 e menor que 25,0 | Adulto com peso adequado

3 | Maior ou igual a 25,0 e menor que 30,0 | Adulto com sobrepeso

4 | Maior ou igual a 30,0 e menor que 35,0 | Adulto com obesidade grau I

5 | Maior ou igual a 35,0 e menor que 40,0 | Adulto com obesidade grau II

6 | Maior ou igual a 40,0                  | Adulto com obesidade grau III