# Aula 4 - strings

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Strings
- 2) Funções de Strings
    - 2.1) Formatação de strings

____
____
____

## 1) Strings

Desde a primeira aula, temos trabalhado com strings, que, como vimos, representam **dados textuais**

Vamos, agora, olhar pra strings um pouco mais a fundo, e aprender algumas funções para trabalharmos com strings

Uma string nada mais é do que uma **coleção de caracteres**!

Assim, podemos acessar caracteres específicos ou então um intervalo de caracteres de uma string, como se fosse uma lista!

**OBS.: Para strings também, o índice começa em 0, e podemos usar índices negativos!**

In [1]:
print("Olá")
print("O"+'l'+'á')

Olá
Olá

In [13]:
nome = 'Gilberto'

In [14]:
nome[0]

'G'

In [15]:
nome[-1]

'o'

In [16]:
nome[1:4]

'ilb'

In [17]:
nome[::-1]

'otrebliG'

In [18]:
nome[: 3]

'Gil'

In [19]:
nome[3:]

'berto'

In [20]:
nome * 3

'GilbertoGilbertoGilberto'

In [21]:
[100] * 3

[100, 100, 100]

In [22]:
[100] + [200]

[100, 200]

In [25]:
nome + ' ' + 'Kaihami'

'Gilberto Kaihami'

Para saber o comprimento de uma string (quantos caracteres ela tem, incluindo espaços e pontuações), use a função len():

In [26]:
len([0, 10, 2000])

3

In [27]:
len(nome)

8

Podemos também percorrer cada caractere da string com o `for` -- strings são objetos **iteráveis**:

In [28]:
for letra in nome:
    print(letra)

G
i
l
b
e
r
t
o

Dá pra fazer o mesmo com o range() e o len():

In [34]:
# acessando pelo index
for i in range(len(nome)):
    print(i, nome[i])

0 G
1 i
2 l
3 b
4 e
5 r
6 t
7 o

In [33]:
# com enumerate
for i, letra in enumerate(nome):
    print(i, letra)

0 G
1 i
2 l
3 b
4 e
5 r
6 t
7 o

In [35]:
# com enumerate começando a contagem em 10
for i, letra in enumerate(nome, start=10):
    print(i, letra)

10 G
11 i
12 l
13 b
14 e
15 r
16 t
17 o

Apesar de se parecer com uma lista, a string não tem exatamente as propriedades de uma lista. Por exemplo, **não podemos alterar** caracteres individualmente:

In [39]:
lista = ['Breno', 'Gil', 'Chris']

In [40]:
lista

['Breno', 'Gil', 'Chris']

In [41]:
lista[1] = 'Gilberto'

In [42]:
lista

['Breno', 'Gilberto', 'Chris']

In [44]:
nome = 'Gilberto'

In [45]:
nome[-1]

'o'

In [46]:
# alterando um caracter pelo index
nome[-1] = 'oo'

TypeError: 'str' object does not support item assignment

In [47]:
nome = 'Gilbertoo'

Mas nós conseguimos **alterar caracteres (ou palavras)** com o método "replace()":

In [48]:
frase = 'Hoje esta um bom dia!'

In [51]:
# replace(old, new, count)
frase = frase.replace('esta', 'está')

In [52]:
frase

'Hoje está um bom dia'

In [60]:
frase = 'A banana esta triste, enquanto a maça esta feliz na mesa. esta mesa é muito bonita'
# ultimo parametro: quantidade de primeiras aparições do caractere a ser substituido

In [62]:
frase.replace('esta', 'está', 2)

'A banana está triste, enquanto a maça está feliz na mesa. esta mesa é muito bonita'

In [63]:
frase = "Hoje é segunda feira"

In [65]:
frase.replace(' e ', 'é')

'Hoje é segunda feira'

In [275]:
# Juntando vários replaces
frase = 'A Borboleta é azul'
frase.replace('a', 'b').replace('A', 'b').replace('r', 'e')

'b Boeboletb é bzul'

Podemos **transformar uma string em uma lista de caracteres**, explicitamente, usando a fução "list()"

In [66]:
list('abacate')

['a', 'b', 'a', 'c', 'a', 't', 'e']

In [67]:
# list(string)
lista_frase = list(frase)

In [68]:
lista_frase

['H',
 'o',
 'j',
 'e',
 ' ',
 'é',
 ' ',
 's',
 'e',
 'g',
 'u',
 'n',
 'd',
 'a',
 ' ',
 'f',
 'e',
 'i',
 'r',
 'a']

Agora sim, podemos alterar um elemento da lista:

In [70]:
# Como é uma lista conseguimos alterar um unico elemento
lista_frase[0] = 'I'

In [71]:
lista_frase

['I',
 'o',
 'j',
 'e',
 ' ',
 'é',
 ' ',
 's',
 'e',
 'g',
 'u',
 'n',
 'd',
 'a',
 ' ',
 'f',
 'e',
 'i',
 'r',
 'a']

In [73]:
lista_frase_limpa = []
for char in lista_frase:
    if char == 'é':
        char = 'e'
    lista_frase_limpa.append(char)

In [76]:
str_listra_frase_limpa = ''
for char in lista_frase_limpa:
    str_listra_frase_limpa += char

In [77]:
str_listra_frase_limpa

'Ioje e segunda feira'

E, pra trasnformar a lista de volta pra string, usamos a função "join()":

In [82]:
lista_frase_limpa[0:3]

['I', 'o', 'j']

In [84]:
# join(lista)
' '.join(lista_frase_limpa)

'I o j e   e   s e g u n d a   f e i r a'

Um exemplo do uso do .join() pra juntar os números de uma lista em um único numero

'[2021, 6, 21]'

In [88]:
# Concatenando números

lista_num = [2021, 6, 21]
'/'.join([str(num) for num in lista_num])

'2021/6/21'

Como já vimos, podemos fazer **operações com strings**:

Soma de strings: ao somar duas strings, elas são concatenadas:

In [90]:
# str + str
'Danilo ' + 'é ' + 'amigo'

'Danilo é amigo'

Multiplicação de string por inteiro: ao multiplicar uma string por um número inteiro, a string é repetida:

In [91]:
# str * int
'Danilo' * 10

'DaniloDaniloDaniloDaniloDaniloDaniloDaniloDaniloDaniloDanilo'

__________
__________
__________

## 2) Funções de strings

Como listas, strings também têm algumas funções específicas. Algumas delas são:

.upper(): transforma todos os caracteres em maiúscula

In [92]:
nome = 'leandro'

In [93]:
# upper()
nome.upper()

'LEANDRO'

.lower(): trasnforma todos os caracteres em minúscula

In [95]:
# lower()
nome = 'LEANDRO'
nome.lower()

'leandro'

In [96]:
nome = 'LeANdro'
nome.lower()

'leandro'

.title(): deixa a primeira letra de cada palavra em maiúscula

In [100]:
# title
titulo = 'na mira do iNImigo'

In [101]:
titulo

'na mira do iNImigo'

In [104]:
titulo = titulo.title()

In [105]:
titulo

'Na Mira Do Inimigo'

In [107]:
'uma boa época para viver'.title()

'Uma Boa Época Para Viver'

.capitalize(): deixa a primeira letra da primeira palavra em maiúscula

In [110]:
# capitalize
frase = 'uma boa época para viver. e uma boa semana para aprender'

In [111]:
frase.capitalize()

'Uma boa época para viver. e uma boa semana para aprender'

É possível quebrar uma string em determinado caractere, tendo como resultado uma **lista com os caracteres além da quebra**.

- Para quebrar nos espaços, use a função ".split()", sem argumento

In [116]:
# Quebrando uma string utilizando o split
frase = 'uma boa época para viver. e uma boa semana para aprender'

In [118]:
frase_sep = frase.split()

In [127]:
' '.join(frase_sep)

'uma boa época para viver. e uma boa semana para aprender'

In [126]:
' '.join([palavra.upper() if i % 2 == 0 else palavra for i, palavra in enumerate(frase_sep)])

'UMA boa ÉPOCA para VIVER. e UMA boa SEMANA para APRENDER'

- Para quebrar em algum caracter, use o caractere como argumento:

In [ ]:
# split por um separador

In [132]:
frase.split('.')

['uma boa época para viver', ' e uma boa semana para aprender']

In [133]:
frase.split('a')

['um',
 ' bo',
 ' époc',
 ' p',
 'r',
 ' viver. e um',
 ' bo',
 ' sem',
 'n',
 ' p',
 'r',
 ' ',
 'prender']

In [134]:
frase.split('er')

['uma boa época para viv', '. e uma boa semana para aprend', '']

In [131]:
frase.split('djsklsalj')

['uma boa época para viver. e uma boa semana para aprender']

In [145]:
marks = '.?!;:'
frase2 = frase
for mark in marks:
    frase2 = frase2.replace(mark, '!=!')

- Podemos contar a frequência de um caracter/palavra

In [147]:
frase

'uma boa época para viver. e uma boa semana para aprender'

In [151]:
# Utilizando count
frase.count('a')

12

__Tirar espaços que tão sobrando no fim e no início da string__

Utilize a função strip()

In [153]:
# Removendo espaços no inicio e fim -> strip
frase.split('.')

['uma boa época para viver', ' e uma boa semana para aprender']

In [156]:
'                             e uma boa semana para aprender'.strip()

'e uma boa semana para aprender'

In [157]:
'e uma boa semana para aprender                        '.strip()

'e uma boa semana para aprender'

In [158]:
'                 e uma boa semana para aprender                        '.strip()

'e uma boa semana para aprender'

Mas essa função não elimina espaços extrar no "meio" da string -- apenas no início e no fim!

In [160]:
# strip remove espaços entre palavras?

'       e uma boa semana            para aprender   '.strip()

'e uma boa semana            para aprender'

__Pra tirar espaços do meio, podemos fazer:__

In [164]:
# Como podemos fazer?
[subfrase.strip() for subfrase in '       e uma boa semana.            para aprender   '.split('.')]

['e uma boa semana', 'para aprender']

In [165]:
# Com join
' '.join([subfrase.strip() for subfrase in '       e uma boa semana.            para aprender   '.split('.')])

'e uma boa semana para aprender'

In [172]:
frases = '''     Há algumas casas nesse bairro.
   Há muitas pessoas felizes.
'''
[frase.strip() for frase in frases.split('\n')]

['Há algumas casas nesse bairro.', 'Há muitas pessoas felizes.', '']

Ou:

In [186]:
frase = '       e uma boa semana            para aprender   '


frase.replace("  ", " ", frase.count(" ") - 1)

'    e uma boa semana      para aprender  '

In [187]:
i = 0
while frase.count('  ') > 0:
    i += 1
    frase = frase.replace("  ", " ")
    print(i, frase)

1     e uma boa semana      para aprender
2   e uma boa semana   para aprender
3  e uma boa semana  para aprender
4  e uma boa semana para aprender

In [188]:
frase.strip()

'e uma boa semana para aprender'

In [190]:
frase = '       e uma boa semana            para aprender   '

In [195]:
# Com join
' '.join(frase.split())

'e uma boa semana para aprender'

Outras funções interessantes...

- isdigit()
- isalpha()
- isalnum()
- isspace()

In [196]:
'1'.isdigit()

True

In [197]:
'a'.isdigit()

False

In [198]:
'1.0'.isdigit()

False

In [200]:
'a'.isalpha()

True

In [201]:
'!'.isalpha()

False

In [202]:
'1'.isalpha()

False

In [204]:
'10a'.isalnum()

True

In [217]:
'AAaa10'.isalnum()

True

In [211]:
'a'.isspace()

False

In [212]:
'a '.isspace()

False

In [213]:
' '.isspace()

True

In [231]:
'10a'.isdigit()

False

In [232]:
'10a'.isalpha()

False

In [233]:
'10a'.isalnum()

True

In [227]:
# Dado uma frase, vamos separar em digitos alpha [a-z] e pontuações
frase = 'São Paulo segunda-feira 21 de junho de 2021. Está um lindo dia!!! Temperatura está 12.5 graus?'

num = []
letra = []
pontos = []
for char in frase:
    if char.isdigit():
        num.append(char)
    elif char.isalpha():
        letra.append(char)
    elif char.isspace():
#         print('É um espaço')
        pass
    else:
        pontos.append(char)
        
        
print('Lista de numeros', num)
print('Lista de caracteres', letra)
print('Lista de pontuações', pontos)

Lista de numeros ['2', '1', '2', '0', '2', '1', '1', '2', '5']
Lista de caracteres ['S', 'ã', 'o', 'P', 'a', 'u', 'l', 'o', 's', 'e', 'g', 'u', 'n', 'd', 'a', 'f', 'e', 'i', 'r', 'a', 'd', 'e', 'j', 'u', 'n', 'h', 'o', 'd', 'e', 'E', 's', 't', 'á', 'u', 'm', 'l', 'i', 'n', 'd', 'o', 'd', 'i', 'a', 'T', 'e', 'm', 'p', 'e', 'r', 'a', 't', 'u', 'r', 'a', 'e', 's', 't', 'á', 'g', 'r', 'a', 'u', 's']
Lista de pontuações ['-', '.', '!', '!', '!', '.', '?']

In [230]:
# Dado uma frase, vamos separar em digitos alpha [a-z] e pontuações
frase = 'São Paulo segunda-feira 21 de junho de 2021. Está um lindo dia!!! Temperatura está 12.5 graus?'

num = []
letra = []
pontos = []
for char in frase:
    if char.isdigit():
        num.append(char)
    elif char.isalpha():
        letra.append(char)
    elif not char.isspace():
        pontos.append(char)
#     else:
#         pass
        
print('Lista de numeros', num)
print('Lista de caracteres', letra)
print('Lista de pontuações', pontos)

Lista de numeros ['2', '1', '2', '0', '2', '1', '1', '2', '5']
Lista de caracteres ['S', 'ã', 'o', 'P', 'a', 'u', 'l', 'o', 's', 'e', 'g', 'u', 'n', 'd', 'a', 'f', 'e', 'i', 'r', 'a', 'd', 'e', 'j', 'u', 'n', 'h', 'o', 'd', 'e', 'E', 's', 't', 'á', 'u', 'm', 'l', 'i', 'n', 'd', 'o', 'd', 'i', 'a', 'T', 'e', 'm', 'p', 'e', 'r', 'a', 't', 'u', 'r', 'a', 'e', 's', 't', 'á', 'g', 'r', 'a', 'u', 's']
Lista de pontuações ['-', '.', '!', '!', '!', '.', '?']

Podemos usar as funções acima para padronizar a resposta de um usuário!

Utilizamos a função 

```unicodedata.normalize("NFD", minha_string).encode("ascii", "ignore").decode("utf-8")```

Para tirar acentos da string "minha_string"

E o ```strip()``` é usado pra tirar espaços desnecessários do início e do fim de uma string

In [238]:
import unicodedata

In [239]:
# mais um exemplo

minha_string = "Coração"

print("string original:", minha_string)
print("string padronizada:", unicodedata.normalize("NFD", minha_string).encode("ascii", "ignore").decode("utf-8").upper().strip())

string original: Coração
string padronizada: CORACAO

In [246]:
str_ascii = unicodedata.normalize("NFD", minha_string).encode("ascii", "ignore")

In [253]:
respostas = ['nao', 'n']
minha_resposta = '   NãO'
unicodedata.normalize("NFD", minha_resposta).encode("ascii", "ignore").decode("utf-8").lower().strip() in respostas

True

In [259]:
(unicodedata.normalize("NFD", minha_resposta)  # Transformando em unicode
            .encode("ascii", "ignore")  # Transformando unicode -> ASCII -> removendo acentos e "ç"
            .decode('utf-8')  # Transformando ASCII -> UTF-8
            .lower()  # transformando a string em caixa baixa
            .strip()  # removendo espaços extras na direita e esquerda da string
)

'nao'

In [268]:
respostas = ['nao', 'n', 'sim', 's']
resposta_usuario = None
while resposta_usuario not in respostas:
    resposta_usuario = input('Hoje vai chover')
    resposta_usuario = unicodedata.normalize("NFD", resposta_usuario).encode("ascii", "ignore").decode("utf-8").lower().strip()

Hoje vai chover NãO

Como pudemos ver acima, processar a string para que ela esteja em **determinado padrão** (por exemplo: em letras maiúsculas e sem acentos) é um passo muito importante para que operações de comparação entre strings funcionem perfeitamente sem erros!

In [ ]:
import unicodedata
respostas = ['nao', 'n', 'sim', 's']
resposta_usuario = None
while resposta_usuario not in respostas:
    resposta_usuario = input('Hoje vai chover')
    resposta_usuario = unicodedata.normalize("NFD", resposta_usuario).encode("ascii", "ignore").decode("utf-8").lower().strip()

___
___

### 2.1) Formatação de strings

Também podemos **formatar strings**. Isso pode ser super útil tanto ao receber dados do usuário (input) quando ao exbibir dados pro usuário (print)

Um dos usos mais legal do format é para **exibir** strings formatadas.

Imagine que você queira exibir uma data no formato dd/mm/aaaa.

Em situações normais, dias e meses inferiores a 10 apareceriam com apenas 1 dígito (int não é representado com zeros à esquerda). Porém, podemos especificar no format que gostaríamos de representar um inteiro com 2 dígitos, preenchendo com zero dígitos em branco (à esquerda): 

```python

dia = 1
mes = 2
ano = 2020
data = '{:02d}/{:02d}/{:04d}'.format(dia, mes, ano)
print(data) # resultado: 01/02/2020
```

O símbolo 'd' indica que estamos representando números **inteiros** em base decimal (dígitos de 0 a 9). 

Os símbolos '2' e '4' indicam, respectivamente, 2 dígitos ou 4 dígitos. 

o símbolo '0' indica que se faltar dígitos, os espaços devem ser preenchidos com zero

In [280]:
dia = 1
'{:02d}/06/2021'.format(dia)

'01/06/2021'

In [286]:
for dia in range(1, 31):
    if dia < 10:
        print('0'+ str(dia) + '/06/2021')
    else:
        print(str(dia) + '/06/2021')
    print('{:02d}/06/2021'.format(dia))
    print('-'*26)

01/06/2021
01/06/2021
--------------------------
02/06/2021
02/06/2021
--------------------------
03/06/2021
03/06/2021
--------------------------
04/06/2021
04/06/2021
--------------------------
05/06/2021
05/06/2021
--------------------------
06/06/2021
06/06/2021
--------------------------
07/06/2021
07/06/2021
--------------------------
08/06/2021
08/06/2021
--------------------------
09/06/2021
09/06/2021
--------------------------
10/06/2021
10/06/2021
--------------------------
11/06/2021
11/06/2021
--------------------------
12/06/2021
12/06/2021
--------------------------
13/06/2021
13/06/2021
--------------------------
14/06/2021
14/06/2021
--------------------------
15/06/2021
15/06/2021
--------------------------
16/06/2021
16/06/2021
--------------------------
17/06/2021
17/06/2021
--------------------------
18/06/2021
18/06/2021
--------------------------
19/06/2021
19/06/2021
--------------------------
20/06/2021
20/06/2021
--------------------------
21/06/2021
21/06/2021
--------------------------
22/06/2021
22/06/2021
--------------------------
23/06/2021
23/06/2021
--------------------------
24/06/2021
24/06/2021
--------------------------
25/06/2021
25/06/2021
--------------------------
26/06/2021
26/06/2021
--------------------------
27/06/2021
27/06/2021
--------------------------
28/06/2021
28/06/2021
--------------------------
29/06/2021
29/06/2021
--------------------------
30/06/2021
30/06/2021
--------------------------

In [288]:
for mes in range(1, 13):
    for dia in range(1, 31):
        print('{:02d}/{:02d}/2021'.format(dia, mes))
    print('-'*26)

01/01/2021
02/01/2021
03/01/2021
04/01/2021
05/01/2021
06/01/2021
07/01/2021
08/01/2021
09/01/2021
10/01/2021
11/01/2021
12/01/2021
13/01/2021
14/01/2021
15/01/2021
16/01/2021
17/01/2021
18/01/2021
19/01/2021
20/01/2021
21/01/2021
22/01/2021
23/01/2021
24/01/2021
25/01/2021
26/01/2021
27/01/2021
28/01/2021
29/01/2021
30/01/2021
--------------------------
01/02/2021
02/02/2021
03/02/2021
04/02/2021
05/02/2021
06/02/2021
07/02/2021
08/02/2021
09/02/2021
10/02/2021
11/02/2021
12/02/2021
13/02/2021
14/02/2021
15/02/2021
16/02/2021
17/02/2021
18/02/2021
19/02/2021
20/02/2021
21/02/2021
22/02/2021
23/02/2021
24/02/2021
25/02/2021
26/02/2021
27/02/2021
28/02/2021
29/02/2021
30/02/2021
--------------------------
01/03/2021
02/03/2021
03/03/2021
04/03/2021
05/03/2021
06/03/2021
07/03/2021
08/03/2021
09/03/2021
10/03/2021
11/03/2021
12/03/2021
13/03/2021
14/03/2021
15/03/2021
16/03/2021
17/03/2021
18/03/2021
19/03/2021
20/03/2021
21/03/2021
22/03/2021
23/03/2021
24/03/2021
25/03/2021
26/03/2021
27/03/2021
28/03/2021
29/03/2021
30/03/2021
--------------------------
01/04/2021
02/04/2021
03/04/2021
04/04/2021
05/04/2021
06/04/2021
07/04/2021
08/04/2021
09/04/2021
10/04/2021
11/04/2021
12/04/2021
13/04/2021
14/04/2021
15/04/2021
16/04/2021
17/04/2021
18/04/2021
19/04/2021
20/04/2021
21/04/2021
22/04/2021
23/04/2021
24/04/2021
25/04/2021
26/04/2021
27/04/2021
28/04/2021
29/04/2021
30/04/2021
--------------------------
01/05/2021
02/05/2021
03/05/2021
04/05/2021
05/05/2021
06/05/2021
07/05/2021
08/05/2021
09/05/2021
10/05/2021
11/05/2021
12/05/2021
13/05/2021
14/05/2021
15/05/2021
16/05/2021
17/05/2021
18/05/2021
19/05/2021
20/05/2021
21/05/2021
22/05/2021
23/05/2021
24/05/2021
25/05/2021
26/05/2021
27/05/2021
28/05/2021
29/05/2021
30/05/2021
--------------------------
01/06/2021
02/06/2021
03/06/2021
04/06/2021
05/06/2021
06/06/2021
07/06/2021
08/06/2021
09/06/2021
10/06/2021
11/06/2021
12/06/2021
13/06/2021
14/06/2021
15/06/2021
16/06/2021
17/06/2021
18/06/2021
19/06/2021
20/06/2021
21/06/2021
22/06/2021
23/06/2021
24/06/2021
25/06/2021
26/06/2021
27/06/2021
28/06/2021
29/06/2021
30/06/2021
--------------------------
01/07/2021
02/07/2021
03/07/2021
04/07/2021
05/07/2021
06/07/2021
07/07/2021
08/07/2021
09/07/2021
10/07/2021
11/07/2021
12/07/2021
13/07/2021
14/07/2021
15/07/2021
16/07/2021
17/07/2021
18/07/2021
19/07/2021
20/07/2021
21/07/2021
22/07/2021
23/07/2021
24/07/2021
25/07/2021
26/07/2021
27/07/2021
28/07/2021
29/07/2021
30/07/2021
--------------------------
01/08/2021
02/08/2021
03/08/2021
04/08/2021
05/08/2021
06/08/2021
07/08/2021
08/08/2021
09/08/2021
10/08/2021
11/08/2021
12/08/2021
13/08/2021
14/08/2021
15/08/2021
16/08/2021
17/08/2021
18/08/2021
19/08/2021
20/08/2021
21/08/2021
22/08/2021
23/08/2021
24/08/2021
25/08/2021
26/08/2021
27/08/2021
28/08/2021
29/08/2021
30/08/2021
--------------------------
01/09/2021
02/09/2021
03/09/2021
04/09/2021
05/09/2021
06/09/2021
07/09/2021
08/09/2021
09/09/2021
10/09/2021
11/09/2021
12/09/2021
13/09/2021
14/09/2021
15/09/2021
16/09/2021
17/09/2021
18/09/2021
19/09/2021
20/09/2021
21/09/2021
22/09/2021
23/09/2021
24/09/2021
25/09/2021
26/09/2021
27/09/2021
28/09/2021
29/09/2021
30/09/2021
--------------------------
01/10/2021
02/10/2021
03/10/2021
04/10/2021
05/10/2021
06/10/2021
07/10/2021
08/10/2021
09/10/2021
10/10/2021
11/10/2021
12/10/2021
13/10/2021
14/10/2021
15/10/2021
16/10/2021
17/10/2021
18/10/2021
19/10/2021
20/10/2021
21/10/2021
22/10/2021
23/10/2021
24/10/2021
25/10/2021
26/10/2021
27/10/2021
28/10/2021
29/10/2021
30/10/2021
--------------------------
01/11/2021
02/11/2021
03/11/2021
04/11/2021
05/11/2021
06/11/2021
07/11/2021
08/11/2021
09/11/2021
10/11/2021
11/11/2021
12/11/2021
13/11/2021
14/11/2021
15/11/2021
16/11/2021
17/11/2021
18/11/2021
19/11/2021
20/11/2021
21/11/2021
22/11/2021
23/11/2021
24/11/2021
25/11/2021
26/11/2021
27/11/2021
28/11/2021
29/11/2021
30/11/2021
--------------------------
01/12/2021
02/12/2021
03/12/2021
04/12/2021
05/12/2021
06/12/2021
07/12/2021
08/12/2021
09/12/2021
10/12/2021
11/12/2021
12/12/2021
13/12/2021
14/12/2021
15/12/2021
16/12/2021
17/12/2021
18/12/2021
19/12/2021
20/12/2021
21/12/2021
22/12/2021
23/12/2021
24/12/2021
25/12/2021
26/12/2021
27/12/2021
28/12/2021
29/12/2021
30/12/2021
--------------------------

In [305]:
for ano in [2021, 2022]:
    for mes in range(1, 2):
        for dia in range(1, 5):
            print('{:02d}/{:02d}/{:04d}'.format(dia, mes, ano))
        print('-'*26)

01/01/2021
02/01/2021
03/01/2021
04/01/2021
--------------------------
01/01/2022
02/01/2022
03/01/2022
04/01/2022
--------------------------

In [312]:
for ano in range(1, 3):
    for mes in range(1, 2):
        for dia in range(1, 5):
            print('{:02d}/{:02d}/202{}'.format(dia, mes, ano))
        print('-'*26)

01/01/2021
02/01/2021
03/01/2021
04/01/2021
--------------------------
01/01/2022
02/01/2022
03/01/2022
04/01/2022
--------------------------

Imagina que você queira exibir algum valor monetário, por exemplo, o preço de alguma coisa.

Utilizando float, pode ser que seu resultado tenha apenas uma casa decimal.

Mas, se tratando de dinheito, sempre queremos mostrar duas casas decimais!

Usaremos o format para representar com apenas 2 casas.

```python
preco = 1500.5

print(preco) 

precoFinal = 'R$ {:.2f}'.format(preco)

print(precoFinal)
```

Neste caso, o 'f' indica que o número é float. 

Já o '.2' indica que queremos 2 casas após o ponto decimal. 

Note que a função não apenas descarta as casas excedentes, e sim arredonda corretamente o número.

In [314]:
preco = 1500.5678

preco_final = "R$ {:.2f}".format(preco)

print(preco_final)

R$ 1500.57

In [317]:
saldo = 1000

retiradas = [0, 20, 30, 0, 40, 50]
for retirada in retiradas:
    if retirada > 0:
        print('Retirou R${:.2f}'.format(retirada))
        saldo -= retirada
        print('Saldo   R${:.2f}'.format(saldo))
        print('-'*26)

Retirou R$20.00
Saldo   R$980.00
--------------------------
Retirou R$30.00
Saldo   R$950.00
--------------------------
Retirou R$40.00
Saldo   R$910.00
--------------------------
Retirou R$50.00
Saldo   R$860.00
--------------------------

In [325]:
preco = 1500.5678

preco_final = "R$ {preco:.2f}".format(preco=preco)

print(preco_final)

R$ 1500.57

### f-strings

In [320]:
dia = 1
f'{dia}/06/2021'

'1/06/2021'

In [321]:
dia = 1
f'{dia:02d}/06/2021'

'01/06/2021'

In [323]:
for dia in range(1, 31):
#     print('{:02d}/06/2021'.format(dia))
    print(f'{dia:02d}/06/2021')
    print('-'*26)

01/06/2021
--------------------------
02/06/2021
--------------------------
03/06/2021
--------------------------
04/06/2021
--------------------------
05/06/2021
--------------------------
06/06/2021
--------------------------
07/06/2021
--------------------------
08/06/2021
--------------------------
09/06/2021
--------------------------
10/06/2021
--------------------------
11/06/2021
--------------------------
12/06/2021
--------------------------
13/06/2021
--------------------------
14/06/2021
--------------------------
15/06/2021
--------------------------
16/06/2021
--------------------------
17/06/2021
--------------------------
18/06/2021
--------------------------
19/06/2021
--------------------------
20/06/2021
--------------------------
21/06/2021
--------------------------
22/06/2021
--------------------------
23/06/2021
--------------------------
24/06/2021
--------------------------
25/06/2021
--------------------------
26/06/2021
--------------------------
27/06/2021
--------------------------
28/06/2021
--------------------------
29/06/2021
--------------------------
30/06/2021
--------------------------

In [328]:
for ano in range(1, 3):
    for mes in range(1, 2):
        for dia in range(1, 5):
            print(f'{dia:02d}/{mes:02d}/202{ano}')
        print('-'*26)

01/01/2021
02/01/2021
03/01/2021
04/01/2021
--------------------------
01/01/2022
02/01/2022
03/01/2022
04/01/2022
--------------------------

In [333]:
for ano in range(2021, 2023):
    for mes in range(1, 2):
        for dia in range(1, 5):
            print('{:02d}/{:02d}/{:04d}'.format(dia, mes, ano))
        print('-'*26)

01/01/2021
02/01/2021
03/01/2021
04/01/2021
--------------------------
01/01/2022
02/01/2022
03/01/2022
04/01/2022
--------------------------

In [337]:
for ano in range(2021, 2023):
    for mes in range(1, 2):
        for dia in range(1, 5):
            print(f'{dia:02d}/{mes:02d}/{str(ano)[-2:]}')
        print('-' * 26)

01/01/21
02/01/21
03/01/21
04/01/21
--------------------------
01/01/22
02/01/22
03/01/22
04/01/22
--------------------------

In [338]:
'{dia}'

'{dia}'

In [339]:
f'{dia}'

'4'

In [346]:
# Como escapar a chave

In [351]:
f'{{}}'

'{} '

In [347]:
preco = 1500.5678

# preco_final = "R$ {preco:.2f}".format(preco=preco)
preco_final = f"R$ {preco:.2f}"

print(preco_final)

R$ 1500.57

In [348]:
f'{2021.89248923:.4f}'

'2021.8925'