In [1]:
%config Completer.use_jedi = False

# Aula 6 - tuplas, dicionários e funções generalizadas

Na aula de hoje, vamos explorar os seguintes tópicos em Python:

- 1) Tuplas
- 2) Dicionários
- 3) Funções com parâmetros variáveis
- 4) Funções com parâmetros opcionais

____
____
____

## 1) Tuplas

Até o momento, temos utilizado **listas** pra armazenar uma coleção de dados.

Aprenderemos agora sobre uma nova **estrutura de dados**: tuplas!

Tuplas são estruturas bastante parecidas com listas:

- Podem guardar **tipos diferentes de dados**.
- São indexadas (podemos **acessar elementos por índices**).
- São iteráveis (**podemos percorrer com o `for`**).

A principal diferença é: tuplas são **imutáveis**!

Para tuplas **não é possível**: alterar elementos individuais, adicionar elementos, remover elementos ou alterar a ordem dos elementos. Uma vez criada, não é possível alterar nada de uma tupla!

Mas, então, pra que servem as tuplas?

- É um jeito de **sinalizar que esses dados não deveriam ser alterados**. 

- É um meio de garantir que os elementos estarão **em uma ordem específica**.

- O acesso a elementos de uma tupla **é bem mais rápido**.

Tuplas são indicadas entre **parênteses ()**

In [2]:
# para criar uma tupla utilizamos parênteses
tupla = (1, 2, 'Gil')

In [3]:
tupla

(1, 2, 'Gil')

In [4]:
type(tupla)

tuple

No entanto, é possível definir tuplas sem a utilização de parênteses, apenas **listando os elementos, separados por vírgula**

In [5]:
# criando uma tupla sem parênteses
tupla = 1, 2, 'Gil'

In [6]:
tupla

(1, 2, 'Gil')

In [7]:
type(tupla)

tuple

Operações com tuplas

In [8]:
# para acessar um elemento pelo índice ainda usamos colchete
tupla[0]

1

In [9]:
tupla[1]

2

In [10]:
tupla[-1]

'Gil'

In [11]:
# imprimindo cada elemento
for elemento in tupla:
    print(elemento)

1
2
Gil

In [12]:
# Com range
for i in range(len(tupla)):
    print(i, tupla[i])

0 1
1 2
2 Gil

In [13]:
# Com enumerate
for i, elemento in enumerate(tupla):
    print(i, elemento)

0 1
1 2
2 Gil

Mas, como dissemos, a tupla é **imutável!** Assim, se tentarmos mudar algum dos seus elementos, teremos um erro:

In [14]:
# tentando mudar alguma elemento da tupla
tupla[0] = 21

TypeError: 'tuple' object does not support item assignment

Para "alterar uma tupla", podemos fazer um procedimento bem forçado: primeiro, transformamos a tupla em lista; aí, alteramos a lista; depois, transformamos a lista de volta em tupla:

In [15]:
# criando uma lista com os elementos da tupla
lista_intermediaria = list(tupla)

In [16]:
lista_intermediaria

[1, 2, 'Gil']

In [17]:
# alterando um elemento da lista - ao contrário da tupla, a lista é mutável!
lista_intermediaria[0] = 21

In [18]:
lista_intermediaria

[21, 2, 'Gil']

In [19]:
# criando uma tupla a partir de uma lista:

tupla_modificada = tuple(lista_intermediaria)

In [20]:
tupla_modificada

(21, 2, 'Gil')

No entanto, note que a tupla original permaneceu inalterada:

In [21]:
# a tupla original permanece a mesma!
print(tupla)
print(tupla_modificada)

(1, 2, 'Gil')
(21, 2, 'Gil')

Outra utilidade de tuplas: fazer uma função **retornar mais de um valor**

In [22]:
# 1
def seq(x):
    return x, 2*x, 3*x, 'Danilo'

In [23]:
seq(2)

(2, 4, 6, 'Danilo')

In [24]:
resultados = seq(2)

In [25]:
resultados

(2, 4, 6, 'Danilo')

In [26]:
x, x2, x3, nome = seq(3)

In [27]:
print(x)
print(x2)
print(x3)
print(nome)

3
6
9
Danilo

In [28]:
# Enumerate retorna uma tupla
for valor in enumerate(tupla):
    print(valor)

print('-'*36)
for valor in enumerate(tupla):
    print(valor[0], valor[1])

print('-'*36)
for i, elemento in enumerate(tupla):
    print(i, elemento)

(0, 1)
(1, 2)
(2, 'Gil')
------------------------------------
0 1
1 2
2 Gil
------------------------------------
0 1
1 2
2 Gil

____
____
____

## 2) Dicionários

Uma outra estrutura de dados bem importante em Python são os **dicionários**.

O dicionário também é uma **coleção de dados**. 

A diferença é que um dicionário é definido a partir de **dois elementos**: uma **chave** e um **valor**.

- A **chave** é uma string ou int que é utilizada como se fosse um índice, identificando os respectivos valores.

- O **valor** pode ser qualquer dado: um int, um float, uma str, um bool, uma lista, uma tupla, outro dicionário...

Dicionários são indicados **entre chaves{}**, segundo a estrutura:

```python
dicionario = {"chave": valor}
```

In [29]:
# 2
# definindo um dicionário
dicionario_do_fulano = {
    "nome": 'Fulano',
    "idade": 32,
    "cidade": "BH",
    "filhos": 0,
    "altura": 1.42
}

In [30]:
dicionario_do_fulano

{'nome': 'Fulano', 'idade': 32, 'cidade': 'BH', 'filhos': 0, 'altura': 1.42}

In [31]:
# acessando valores dos dicionários a partir das chaves 
dicionario_do_fulano['cidade']

'BH'

In [32]:
dicionario_do_fulano['nome']

'Fulano'

In [33]:
cadastro = {"nomes" : ["Joãozinho", "Mariazinha"],
                "idades" : [32, 25],
                "cidades" : ["Mauá", "Santo André"],
                "filhos": [0, 0],
                "altura" : [1.80, 1.65]}

In [34]:
cadastro['nomes']

['Joãozinho', 'Mariazinha']

In [35]:
cadastro['idades']

[32, 25]

Poderíamos, ao invés de um dicionário, usar uma lista de listas, como abaixo. 

Porém, neste caso, fica bem menos intuitivo quando queremos selecionar os elementos que representam nomes ou cidades, porque somos obrigado a usar números para indexar, ao invés das chaves.

In [36]:
nomes = ["Joãozinho", "Mariazinha"]
idades = [32, 25]
alturas  = [1.8, 1.65]

In [37]:
cadastro_listas = [
    nomes,
    idades,
    alturas
]

In [38]:
cadastro_listas[2][0]

1.8

In [39]:
cadastro['altura'][0]

1.8

Para adicionar elementos ao dicionário, não precisamos de uma função pronta (como o append das listas). 

Basta definir a nova chave como uma variável, e atribuir um novo valor a ela:

In [40]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Mauá', 'Santo André'],
 'filhos': [0, 0],
 'altura': [1.8, 1.65]}

In [41]:
cadastro['pets'] = ['Bia', 'Luiza']

In [42]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Mauá', 'Santo André'],
 'filhos': [0, 0],
 'altura': [1.8, 1.65],
 'pets': ['Bia', 'Luiza']}

In [43]:
cadastro_listas.append(['Bia', 'Luiza'])

In [44]:
cadastro_listas

[['Joãozinho', 'Mariazinha'], [32, 25], [1.8, 1.65], ['Bia', 'Luiza']]

Automaticamente, o elemento criado é adicionado ao fim!

__Para apagar uma chave, utilize o "pop"__

In [45]:
# 6

pets = cadastro.pop('pets')

In [46]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Mauá', 'Santo André'],
 'filhos': [0, 0],
 'altura': [1.8, 1.65]}

In [47]:
pets

['Bia', 'Luiza']

__Ou, utilize o "del"__

In [48]:
# 7 
cadastro['pets'] = pets

del cadastro['pets']

In [49]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Mauá', 'Santo André'],
 'filhos': [0, 0],
 'altura': [1.8, 1.65]}

Alterar os valores também é possível:

Posso também alterar elementos individuais dos valores, os indexando

(Lembre-se que, neste caso, os valores são listas! Então, devo indexá-las para alterar seus elementos!)

In [50]:
# 8 
cadastro['cidades'] = ['Paris', 'Londres']

In [51]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Paris', 'Londres'],
 'filhos': [0, 0],
 'altura': [1.8, 1.65]}

In [52]:
# Alteração indevida de valor
cadastro['cidades'] = 1
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': 1,
 'filhos': [0, 0],
 'altura': [1.8, 1.65]}

In [53]:
cadastro['cidades'] = ['Paris', 'Londres']
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['Paris', 'Londres'],
 'filhos': [0, 0],
 'altura': [1.8, 1.65]}

In [54]:
cadastro['cidades'][0] = 'São Paulo'

In [55]:
cadastro['trabalho'] = ('Dentista', 'Cientista de dados')

In [56]:
cadastro['trabalho'][0] = 'Engenheiro'

TypeError: 'tuple' object does not support item assignment

In [57]:
cadastro['trabalho'] = ['Dentista', 'Cientista de dados']

In [58]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha'],
 'idades': [32, 25],
 'cidades': ['São Paulo', 'Londres'],
 'filhos': [0, 0],
 'altura': [1.8, 1.65],
 'trabalho': ['Dentista', 'Cientista de dados']}

Para adicionar novos elementos aos valores (que são listas), usamos o append:

In [59]:
cadastro['nomes'].append('Fulano')
cadastro['idades'].append(22)
cadastro['cidades'].append('Rio')
cadastro['filhos'].append(3)
cadastro['altura'].append(1.75)
cadastro['trabalho'].append('Engenheiro')

In [60]:
var = (cadastro['nomes'][0], cadastro['idades'][0])

In [72]:
var

('Joãozinho', 32)

Dicionários podem ser percorridos com um for. 

Ao fazer isso, **as chaves serão percorridas** 

Porém, a partir da chave obtém-se o valor:

In [78]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'altura': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de dados', 'Engenheiro']}

In [79]:
# 11
for chave in cadastro:
    print(chave)

nomes
idades
cidades
filhos
altura
trabalho

In [80]:
cadastro['nomes']

['Joãozinho', 'Mariazinha', 'Fulano']

In [83]:
for chave in cadastro:
    print(f'{chave=}, {cadastro[chave]=}')

chave='nomes', cadastro[chave]=['Joãozinho', 'Mariazinha', 'Fulano']
chave='idades', cadastro[chave]=[32, 25, 22]
chave='cidades', cadastro[chave]=['São Paulo', 'Londres', 'Rio']
chave='filhos', cadastro[chave]=[0, 0, 3]
chave='altura', cadastro[chave]=[1.8, 1.65, 1.75]
chave='trabalho', cadastro[chave]=['Dentista', 'Cientista de dados', 'Engenheiro']

In [87]:
for chave in cadastro:
    print(f'{chave=}')
    for i, elemento in enumerate(cadastro[chave]):
        print(i, elemento)
    print('-'*26)

chave='nomes'
0 Joãozinho
1 Mariazinha
2 Fulano
--------------------------
chave='idades'
0 32
1 25
2 22
--------------------------
chave='cidades'
0 São Paulo
1 Londres
2 Rio
--------------------------
chave='filhos'
0 0
1 0
2 3
--------------------------
chave='altura'
0 1.8
1 1.65
2 1.75
--------------------------
chave='trabalho'
0 Dentista
1 Cientista de dados
2 Engenheiro
--------------------------

In [102]:
cadastro['numero_cadastros'] = 3

In [103]:
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'altura': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de dados', 'Engenheiro'],
 'numero_cadastros': 3}

In [104]:
for chave in cadastro:
    print(f'{chave=}')
    valor = cadastro[chave]
    if isinstance(valor, (tuple, list)):
        for i, elemento in enumerate(valor):
            print(i, elemento)
    elif isinstance(valor, (int, float)):
        print('O número é:', valor)
    elif isinstance(valor, (str)):
        print('A string é:', valor)
    print('-'*26)

chave='nomes'
0 Joãozinho
1 Mariazinha
2 Fulano
--------------------------
chave='idades'
0 32
1 25
2 22
--------------------------
chave='cidades'
0 São Paulo
1 Londres
2 Rio
--------------------------
chave='filhos'
0 0
1 0
2 3
--------------------------
chave='altura'
0 1.8
1 1.65
2 1.75
--------------------------
chave='trabalho'
0 Dentista
1 Cientista de dados
2 Engenheiro
--------------------------
chave='numero_cadastros'
O número é: 3
--------------------------

Uma utilidade disso é para pegar os dados respectivos de cada elemento do cadastro:

In [105]:
cadastro.pop('numero_cadastros')
cadastro

{'nomes': ['Joãozinho', 'Mariazinha', 'Fulano'],
 'idades': [32, 25, 22],
 'cidades': ['São Paulo', 'Londres', 'Rio'],
 'filhos': [0, 0, 3],
 'altura': [1.8, 1.65, 1.75],
 'trabalho': ['Dentista', 'Cientista de dados', 'Engenheiro']}

In [108]:
cadastro['nomes'].index('Fulano')

2

In [113]:
nome = 'Joãozinho'
dados = []
for chave in cadastro:
    index = cadastro['nomes'].index(nome)
    dados.append(cadastro[chave][index])

In [115]:
def pega_dados(campo, valor):
    dados = []
    index = cadastro[campo].index(valor)
    for chave in cadastro:
        dados.append(cadastro[chave][index])
    return tuple(dados)

In [118]:
resultado = pega_dados('nomes', 'Fulano')

In [120]:
resultado

('Fulano', 22, 'Rio', 3, 1.75, 'Engenheiro')

Mas também é possível acessar apenas os valores do dicionário com o método `values()`

In [127]:
nome = 'Fulano'
dados = []
for valor in cadastro.values():
    index = cadastro['nomes'].index(nome)
    dados.append(valor[index])
    
dados = tuple(dados)

Usando compreensão de listas, fica ainda mais simples:

In [128]:
dados

('Fulano', 22, 'Rio', 3, 1.75, 'Engenheiro')

In [131]:
# 15
# Utilizando compreensão de listas
print([cadastro[chave][cadastro['nomes'].index(nome)] for chave in cadastro])

# ou
print([valor[cadastro['nomes'].index(nome)] for valor in cadastro.values()])

['Fulano', 22, 'Rio', 3, 1.75, 'Engenheiro']
['Fulano', 22, 'Rio', 3, 1.75, 'Engenheiro']

É possível obter chaves e valores separadamente.

Para isso, usamos os métodos `keys()` e `values()`.

In [138]:
print('chaves:', cadastro.keys())

print('-'*26)

print('valores:', cadastro.values())

chaves: dict_keys(['nomes', 'idades', 'cidades', 'filhos', 'altura', 'trabalho'])
--------------------------
valores: dict_values([['Joãozinho', 'Mariazinha', 'Fulano'], [32, 25, 22], ['São Paulo', 'Londres', 'Rio'], [0, 0, 3], [1.8, 1.65, 1.75], ['Dentista', 'Cientista de dados', 'Engenheiro']])

E esses valores podem ser transformados em listas com a função `list()`

In [139]:
# tomando uma lista com chaves

print('chaves:', list(cadastro.keys()))

print('-'*26)

print('valores:', list(cadastro.values()))

chaves: ['nomes', 'idades', 'cidades', 'filhos', 'altura', 'trabalho']
--------------------------
valores: [['Joãozinho', 'Mariazinha', 'Fulano'], [32, 25, 22], ['São Paulo', 'Londres', 'Rio'], [0, 0, 3], [1.8, 1.65, 1.75], ['Dentista', 'Cientista de dados', 'Engenheiro']]

Deixando todos os valores em uma unica lista, a partir da lista de listas.

Esta lista terá todos os valores dentro do dicionario

In [144]:
list(cadastro.values())[list(cadastro.keys()).index('filhos')]

[0, 0, 3]

In [154]:
for k, v in cadastro.items():
    print(f'{k=}')
    print(f'{v=}')
    print('-'*26)

k='nomes'
v=['Joãozinho', 'Mariazinha', 'Fulano']
--------------------------
k='idades'
v=[32, 25, 22]
--------------------------
k='cidades'
v=['São Paulo', 'Londres', 'Rio']
--------------------------
k='filhos'
v=[0, 0, 3]
--------------------------
k='altura'
v=[1.8, 1.65, 1.75]
--------------------------
k='trabalho'
v=['Dentista', 'Cientista de dados', 'Engenheiro']
--------------------------

In [159]:
nome = 'Joãozinho'
dados = []
for chave, valor in cadastro.items():
    index = cadastro['nomes'].index(nome)
    dados.append((chave, valor[index]))

In [160]:
dados

[('nomes', 'Joãozinho'),
 ('idades', 32),
 ('cidades', 'São Paulo'),
 ('filhos', 0),
 ('altura', 1.8),
 ('trabalho', 'Dentista')]

### Extra namedtuples

In [161]:
pt1 = (1.0, 5.0)
pt2 = (2.5, 1.5)

In [162]:
pt1

(1.0, 5.0)

In [163]:
dist = ((pt1[0]-pt2[0]) ** 2 + (pt1[1] - pt2[1]) ** 2)**0.5

In [164]:
dist

3.8078865529319543

In [165]:
from collections import namedtuple

In [166]:
Ponto = namedtuple('Ponto', 'x y')

In [174]:
pt1 = Ponto(1.0, 5.0)
pt2 = Ponto(2.5, 1.5)

In [170]:
isinstance(pt1, tuple)

True

In [173]:
pt1[0], pt1[1]

(1.0, 5.0)

In [176]:
pt1.x, pt1.y

(1.0, 5.0)

In [177]:
dist = ((pt1.x - pt2.x) ** 2 + (pt1.y - pt2.y) ** 2)**0.5

In [178]:
dist

3.8078865529319543

In [198]:
Info = namedtuple('Info', ['nome', 'idade', 'cidade', 'filho', 'altura', 'trabalho'])

In [199]:
def cadastro_de_usuario(dc, info):
    if dc:
        _id = max(list(dc.keys())) + 1
    else:
        _id = 0
    dc[_id] = Info(*info)
    return dc

In [200]:
cadastro2 = {}
cadastro2 = cadastro_de_usuario(cadastro2, ['Fulano', 22, 'Rio', 3, 1.75, 'Engenheiro'])

In [201]:
cadastro2 = cadastro_de_usuario(cadastro2, ['Gil', 34, 'SP', 5, 1.90, 'Farmaceutico'])

In [204]:
cadastro2 = cadastro_de_usuario(cadastro2, ['Rafael', , 'SP', 5, 1.90, 'Farmaceutico'])

{0: Info(nome='Fulano', idade=22, cidade='Rio', filho=3, altura=1.75, trabalho='Engenheiro'),
 1: Info(nome='Gil', idade=34, cidade='SP', filho=5, altura=1.9, trabalho='Farmaceutico')}

In [205]:
cadastro_de_usuario(cadastro2, ['Rafael', 25, 'Rio Grande do Sul', 0, 1.75, 'Engenheiro'])

{0: Info(nome='Fulano', idade=22, cidade='Rio', filho=3, altura=1.75, trabalho='Engenheiro'),
 1: Info(nome='Gil', idade=34, cidade='SP', filho=5, altura=1.9, trabalho='Farmaceutico'),
 2: Info(nome='Rafael', idade=25, cidade='Rio Grande do Sul', filho=0, altura=1.75, trabalho='Engenheiro')}

In [218]:
cadastro_de_usuario(cadastro2, ['Rafael', 32, 'SP', 2, 1.42, 'Mecanico'])

{0: Info(nome='Fulano', idade=22, cidade='Rio', filho=3, altura=1.75, trabalho='Engenheiro'),
 1: Info(nome='Gil', idade=34, cidade='SP', filho=5, altura=1.9, trabalho='Farmaceutico'),
 2: Info(nome='Rafael', idade=25, cidade='Rio Grande do Sul', filho=0, altura=1.75, trabalho='Engenheiro'),
 3: Info(nome='Rafael', idade=32, cidade='SP', filho=2, altura=1.42, trabalho='Mecanico')}

In [210]:
cadastro2[2]

Info(nome='Rafael', idade=25, cidade='Rio Grande do Sul', filho=0, altura=1.75, trabalho='Engenheiro')

In [221]:
def pega_usuario(dc, valor):
    dado = {}
    for _id, resultado in dc.items():
        if valor in resultado:
            dado[_id] = resultado
    return dado

In [225]:
pega_usuario(cadastro2, 'Rafael')

{2: Info(nome='Rafael', idade=25, cidade='Rio Grande do Sul', filho=0, altura=1.75, trabalho='Engenheiro'),
 3: Info(nome='Rafael', idade=32, cidade='SP', filho=2, altura=1.42, trabalho='Mecanico')}

In [222]:
pega_usuario(
    pega_usuario(cadastro2, 'Rafael'), 25)

{2: Info(nome='Rafael', idade=25, cidade='Rio Grande do Sul', filho=0, altura=1.75, trabalho='Engenheiro')}

____
____
____
___

## 3) Funções com parâmetros variáveis

Se não quisermos especificar **quais** e **quantos** são os parâmetros de uma função, passamos o argumento com **um asterisco**

- Os parâmetros passados são **agrupados em uma tupla**, automaticamente, pelo python.

Porém, o usuário não precisa passar uma tupla: basta passar vários argumentos separados por vírgula, e o Python automaticamente criará uma tupla com eles. 

Uma função que segue exatamente essa estrutura é o `print()`!

Vamos criar uma função desta forma:

In [228]:
# 18
print(1)

1

In [232]:
def meu_print(*elementos):
    print(elementos)

In [274]:
def soma(a, b, *numeros):
    print(f'{a=}, {b=}')
    print(f'{numeros=}')
    soma_parcial = a
    soma_numeros = sum(numeros)
    return soma_parcial + soma_numeros

In [279]:
soma(1, 2, 3, 2, 3, 4, 5, 6, 7, 8, 9)

a=1, b=2
numeros=(3, 2, 3, 4, 5, 6, 7, 8, 9)

48

In [282]:
def soma(a, b, *args):
    print(f'{a=}, {b=}')
    print(f'{args=}')
    soma_parcial = a
    numeros = []
    letras = []
    for elemento in args:
        if isinstance(elemento, (int, float)):
            numeros.append(elemento)
        else:
            letras.append(elemento)
    soma_numeros = sum(numeros)
    print(letras)
    return soma_parcial + soma_numeros

In [283]:
soma(1,2,3, 'a', 5, 10, 'abc', 'd', 21.2)

a=1, b=2
args=(3, 'a', 5, 10, 'abc', 'd', 21.2)
['a', 'abc', 'd']

40.2

In [290]:
def calcula_media(lista):
    print(lista)
    soma = sum(lista)
    tamanho_lista = len(lista)
    return soma/tamanho_lista

In [291]:
calcula_media([10, 5, 8])

[10, 5, 8]

7.666666666666667

In [312]:
def calcula_media(*args):
    print(args)
    soma = sum(args)
    tamanho_lista = len(args)
    return soma/tamanho_lista

In [313]:
calcula_media(1, 2, 3, 4, 5)

(1, 2, 3, 4, 5)

3.0

In [314]:
calcula_media(10, 5, 8)

(10, 5, 8)

7.666666666666667

In [315]:
def calcula_media(*args):
    print(args)
    total = 0
    n_elementos = 0
    for elemento in args:
        total += elemento
        n_elementos += 1
    
    return total/n_elementos

In [316]:
calcula_media(10, 5, 8)

(10, 5, 8)

7.666666666666667

In [297]:
def media_de_dois_n(a, b, *args):
    """Considera apenas os dois primeiros números para média"""
    return (a + b)/ 2

In [295]:
media_de_dois_n(1, 2)

1.5

In [298]:
# Exemplo, utilizando *args para evitar erros! Considerando apenas os dois primeiros numeros
media_de_dois_n(1, 2, 5, 10, 20)

1.5

In [300]:
media_de_dois_n(1, 2, 100, 10)

1.5

In [304]:
# Utilizando um parâmetro padrão para b
def media_de_dois_n(a, b=10):
    """Considera apenas os dois primeiros números para média"""
    return (a + b) / 2

In [305]:
media_de_dois_n(1, 2)

1.5

In [306]:
media_de_dois_n(1)

5.5

Função que soma os elementos de listas, quantas forem passadas como argumento.

O retorno é a soma de todos os elementos de todas as listas

In [342]:
lista_de_lista = [[1, 2, 3, 4], [23, 42, 57], list(range(0, 100))]

In [343]:
def soma(*args):
    print(args)
    return sum(args)

In [344]:
soma(1,2,3)

(1, 2, 3)

6

In [345]:
[soma(*lista) for lista in lista_de_lista]

(1, 2, 3, 4)
(23, 42, 57)
(0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99)

[10, 122, 4950]

In [336]:
a, b, c = (lista_de_lista[1])

In [337]:
a

23

In [333]:
c

3

______
_________
________

## 4) Funções com parâmetros opcionais

Também é possível fazer funções com **argumentos opcionais**, que são indicados com **dois asteriscos**

- Os parâmetros passados são **agrupados em um dicionário**: o nome do parâmetro será uma chave, e o valor será o valor.

O exemplo abaixo cadastra usuários em uma base de dados.

Até agora, sabemos apenas definir funções com argumentos **obrigatórios**: se algum deles não for passado, a função nos avisará isso!

In [351]:
def soma(a, b, c):
    return a + b + c

In [352]:
soma(1, 2, 3)

6

In [353]:
soma(1)

TypeError: soma() missing 2 required positional arguments: 'b' and 'c'

In [354]:
soma(a=1, b=2, c=3)

6

In [355]:
soma(b=2, a=1, c=3)

6

In [356]:
soma(b=2, a=1)

TypeError: soma() missing 1 required positional argument: 'c'

In [361]:
def soma(a, b, c=0):
    print(f'{a=}, {b=}, {c=}')
    return a + b + c

In [362]:
soma(a=1, b=2)

a=1, b=2, c=0

3

In [363]:
soma(a=1, b=2, c=3)

a=1, b=2, c=3

6

In [364]:
soma(c=1, b=2, a=3)

a=3, b=2, c=1

6

In [380]:
def cadastro(cpf, nome, imprime_dados=[]):
    if 'cpf' in imprime_dados and 'nome' in imprime_dados:
        print(f'O CPF do usuário cadastrado é {cpf}')
        print(f'O nome do usuário cadastrado é {nome}')
    elif 'cpf' in imprime_dados:
        print(f'O CPF do usuário cadastrado é {cpf}')
    elif 'nome' in imprime_dados:
        print(f'O nome do usuário cadastrado é {nome}')
    else:
        print(f'O CPF do usuário cadastrado é {cpf}')
        print(f'O nome do usuário cadastrado é {nome}')

In [381]:
cadastro(39784512357, 'Maria da Silva')

O CPF do usuário cadastrado é 39784512357
O nome do usuário cadastrado é Maria da Silva

In [382]:
cadastro(39784512357)

TypeError: cadastro() missing 1 required positional argument: 'nome'

In [383]:
cadastro(39784512357, 'Maria da Silva', imprime_dados=['nome'])

O nome do usuário cadastrado é Maria da Silva

In [384]:
cadastro(39784512357, 'Maria da Silva', imprime_dados=['nome', 'cpf'])

O CPF do usuário cadastrado é 39784512357
O nome do usuário cadastrado é Maria da Silva

In [385]:
cadastro(39784512357, 'Maria da Silva', imprime_dados=['cpf'])

O CPF do usuário cadastrado é 39784512357

In [386]:
cadastro(39784512357, 'Maria da Silva')

O CPF do usuário cadastrado é 39784512357
O nome do usuário cadastrado é Maria da Silva

In [387]:
cadastro('Maria da Silva')

TypeError: cadastro() missing 1 required positional argument: 'nome'

In [392]:
def cadastro(cpf, nome=None, imprime_dados=[]):
    if 'cpf' in imprime_dados and 'nome' in imprime_dados:
        if nome is not None:  # if nome != None
            print(f'O nome do usuário cadastrado é {nome}')
        else:
            print(f'O nome do usuário não foi cadastrado')
        print(f'O CPF do usuário cadastrado é {cpf}')
    elif 'cpf' in imprime_dados:
        print(f'O CPF do usuário cadastrado é {cpf}')
    elif 'nome' in imprime_dados:
        if nome is not None:
            print(f'O nome do usuário cadastrado é {nome}')
        else:
            print(f'O nome do usuário não foi cadastrado')
    else:
        if nome is not None:
            print(f'O nome do usuário cadastrado é {nome}')
        else:
            print(f'O nome do usuário não foi cadastrado')
        print(f'O CPF do usuário cadastrado é {cpf}')

In [393]:
cadastro(39784512357, 'Maria da Silva')

O nome do usuário cadastrado é Maria da Silva
O CPF do usuário cadastrado é 39784512357

In [394]:
cadastro(39784512357, imprime_dados=['cpf'])

O CPF do usuário cadastrado é 39784512357

In [395]:
cadastro(39784512357, imprime_dados=['cpf', 'nome'])

O nome do usuário não foi cadastrado
O CPF do usuário cadastrado é 39784512357

In [396]:
# Refactoring do código acima
def cadastro(cpf, nome=None, imprime_dados=[]):
    if nome is not None:
        retorno_nome = (f'O nome do usuário cadastrado é {nome}')
    else:
        retorno_nome = (f'O nome do usuário não foi cadastrado')

    if 'cpf' in imprime_dados and 'nome' in imprime_dados:
        print(retorno_nome)
        print(f'O CPF do usuário cadastrado é {cpf}')
    elif 'cpf' in imprime_dados:
        print(f'O CPF do usuário cadastrado é {cpf}')
    elif 'nome' in imprime_dados:
        print(retorno_nome)
    else:
        print(retorno_nome)
        print(f'O CPF do usuário cadastrado é {cpf}')

In [397]:
cadastro(39784512357, imprime_dados=['cpf', 'nome'])

O nome do usuário não foi cadastrado
O CPF do usuário cadastrado é 39784512357

 Podemos modificar a função para que um usuário possa fornecer unicamente seu nome e CPF; ou ambos, opcionalmente.

In [418]:
def soma(a=0, b=0, *numeros):
    print(f'{a=} {b=} {numeros=}')
soma(1, 2, 3, 4, 5, 6)

a=1 b=2 numeros=(3, 4, 5, 6)

In [398]:
def cadastro(**usuario):
    print(usuario)

In [422]:
def soma(**kwargs):
    print(kwargs)

In [423]:
soma(a=1, b=2)

{'a': 1, 'b': 2}

In [430]:
cadastro(cpf=1234876479, nome='Maria de Belem', imprime_dados=['cpf'], aleatorio='ndlsa')

{'cpf': 1234876479, 'nome': 'Maria de Belem', 'imprime_dados': ['cpf'], 'aleatorio': 'ndlsa'}

In [440]:
def cadastro(**usuario):
    """
    usuarios:
        - cpf: corresponde ao cpf do usuario
        - nome: corresponde ao nome do usuario
    """
    print(usuario)
    if 'nome' not in usuario and 'cpf' not in usuario:
        print('Nenhum cadastro encontrado')
    else:
        if 'nome' in usuario:
            print(f'O nome do usuário cadastrado é {usuario["nome"]}')
        if 'cpf' in usuario:
            print(f'O CPF do usuário cadastrado é {usuario["cpf"]}')

In [433]:
cadastro(cpf=1234876479)

{'cpf': 1234876479}
O CPF do usuário cadastrado é 1234876479

In [434]:
cadastro(cpf=1234876479, nome='Maria de Belem')

{'cpf': 1234876479, 'nome': 'Maria de Belem'}
O nome do usuário cadastrado é Maria de Belem
O CPF do usuário cadastrado é 1234876479

In [435]:
cadastro(nome='Maria de Belem')

{'nome': 'Maria de Belem'}
O nome do usuário cadastrado é Maria de Belem

In [436]:
cadastro(cpf=1234876479, nome='Maria de Belem', imprime_dados=['cpf'], aleatorio='ndlsa')

{'cpf': 1234876479, 'nome': 'Maria de Belem', 'imprime_dados': ['cpf'], 'aleatorio': 'ndlsa'}
O nome do usuário cadastrado é Maria de Belem
O CPF do usuário cadastrado é 1234876479

In [449]:
def cadastro(cpf=9999, **usuario):
    """
    usuarios:
        - cpf: corresponde ao cpf do usuario
        - nome: corresponde ao nome do usuario
    """
    print(usuario)
    if 'nome' not in usuario and 'cpf' not in usuario:
        print('Nenhum cadastro encontrado')
    else:
        if 'nome' in usuario:
            print(f'O nome do usuário cadastrado é {usuario["nome"]}')
        if 'cpf' in usuario:
            print(f'O CPF do usuário cadastrado é {usuario["cpf"]}')

In [453]:
def teste(*args, **kwargs):
    print(f'{args=}')
    print(f'{kwargs=}')

In [454]:
teste(1, 2, 3, a=20, b=30)

args=(1, 2, 3)
kwargs={'a': 20, 'b': 30}

In [455]:
teste(1, 2, 3)

args=(1, 2, 3)
kwargs={}

In [456]:
teste(a=20, b=30)

args=()
kwargs={'a': 20, 'b': 30}

## Compreensões de dicionario

In [457]:
[x**2 for x in range(0, 10)]

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [458]:
{i: x**2 for i, x in enumerate(range(0, 10))}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

In [459]:
{x: x**2 for x in range(0, 10)}

{0: 0, 1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81}

### Curiosidades

In [461]:
lista1 = list(range(0, 5))
lista2 = list(range(10, 15))

In [462]:
lista1 + lista2

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14]

In [463]:
lista1

[0, 1, 2, 3, 4]

In [464]:
[*lista1]

[0, 1, 2, 3, 4]

In [465]:
[*lista1, *lista2]

[0, 1, 2, 3, 4, 10, 11, 12, 13, 14]

In [466]:
a, b, c, d, e = lista1

In [467]:
a, b, c, d, e

(0, 1, 2, 3, 4)

In [469]:
a, b = lista1

ValueError: too many values to unpack (expected 2)

In [470]:
_, b, c  = lista1

ValueError: too many values to unpack (expected 3)

In [472]:
a, b, c, *d  = lista1

In [473]:
a

0

In [474]:
b

1

In [475]:
c

2

In [476]:
d

[3, 4]

In [477]:
a, *b, c  = lista1

In [478]:
a

0

In [479]:
c

4

In [480]:
b

[1, 2, 3]

In [482]:
dc1 = {'a': 0, 'b': 1, 'c': 2}
dc2 = {'d': 10, 'e': 11, 'f': 12}

In [486]:
{**dc1, **dc2}

{'a': 0, 'b': 1, 'c': 2, 'd': 10, 'e': 11, 'f': 12}

In [487]:
dc1 = {'a': 0, 'b': 1, 'c': 2}
dc2 = {'d': 10, 'e': 11, 'f': 12}
dc3 = {'g': 10, 'h': 11, 'i': 12}

In [488]:
lista_dic = [dc1, dc2, dc3]

In [489]:
lista_dic

[{'a': 0, 'b': 1, 'c': 2},
 {'d': 10, 'e': 11, 'f': 12},
 {'g': 10, 'h': 11, 'i': 12}]

In [492]:
{**dc1, **dc2}

{'a': 0, 'b': 1, 'c': 2, 'd': 10, 'e': 11, 'f': 12}

In [493]:
{**dc1, **dc2, **dc3}

{'a': 0, 'b': 1, 'c': 2, 'd': 10, 'e': 11, 'f': 12, 'g': 10, 'h': 11, 'i': 12}

In [490]:
dic_final = {}
for dic in lista_dic:
    dic_final = {**dic_final, **dic}

In [491]:
dic_final

{'a': 0, 'b': 1, 'c': 2, 'd': 10, 'e': 11, 'f': 12, 'g': 10, 'h': 11, 'i': 12}

{}        + {'a': 0, 'b': 1, 'c': 2} => {'a': 0, 'b': 1, 'c': 2} (dic_final)
|            |
dic_final    dc1                          

{'a': 0, 'b': 1, 'c': 2}  + {'d': 10, 'e': 11, 'f': 12} => {'a': 0, 'b': 1, 'c': 2, 'd': 10, 'e': 11, 'f': 12}
|                           |
dic_final                   dc2

## Voltamos 20:40

In [494]:
45/7

6.428571428571429