In [1]:
%config Completer.use_jedi = False

# Revisão módulo 1

## Input

In [42]:
input('Qual seu nome?')

Qual seu nome? Gilberto

'Gilberto'

In [43]:
nome = input('Qual seu nome?')
print(f'Olá {nome}')

Qual seu nome? Gilberto

Olá Gilberto

## Strings

In [2]:
'(!#)∆'

'(!#)∆'

In [3]:
"1, 10, 15, 12.1"

'1, 10, 15, 12.1'

In [4]:
nome = 'João da Silva'

In [5]:
nome.split(' ')

['João', 'da', 'Silva']

In [6]:
lista_string = '1, 10, 15, 20, 27, 23'

In [7]:
lista_string.split(',')

['1', ' 10', ' 15', ' 20', ' 27', ' 23']

In [8]:
lista_string = '1 10 15 20 27 23'
lista_string.split(' ')

['1', '10', '15', '20', '27', '23']

In [35]:
lista_de_strings = lista_string.split(' ')

In [37]:
'!#! '.join(lista_de_strings)

'1!#! 10!#! 15!#! 20!#! 27!#! 23'

In [9]:
nome.split('da')

['João ', ' Silva']

In [10]:
nome[0]

'J'

In [11]:
nome[1:10]

'oão da Si'

In [12]:
# Strings são imutaveis
nome[0] = 'A'

TypeError: 'str' object does not support item assignment

In [13]:
nome.replace('J', 'A')

'Aoão da Silva'

In [14]:
nome.title()

'João Da Silva'

In [15]:
nome.lower()

'joão da silva'

In [16]:
nome.upper()

'JOÃO DA SILVA'

In [19]:
nome

'João da Silva'

In [18]:
nome.count("a")

2

In [1]:
## Floats

In [20]:
10.

10.0

In [21]:
2.1

2.1

In [22]:
12321.23183902183290712893210

12321.231839021833

In [2]:
# Int

In [23]:
10

10

In [24]:
3

3

In [25]:
4 + 2

6

In [26]:
# Multiplações de inteiro com inteiro resultam em inteiro
4 * 2

8

In [27]:
# Divisões sempre resultam float
4 / 2

2.0

In [28]:
# Multiplicações com um float resultam em float
4 * 2.0

8.0

In [30]:
# Soma de float com inteiro resultam em float
4 + 2.5

6.5

In [3]:
# Bool

In [31]:
True, False

(True, False)

In [32]:
type(True)

bool

In [34]:
True + True + False

2

In [4]:
# Soma, divisão, divisão inteira, modulo

In [38]:
10 / 3

3.3333333333333335

In [39]:
10 // 3

3

In [40]:
int(10 / 3)

3

In [41]:
(10 / 3)**2

11.111111111111112

In [43]:
14 / 3

4.666666666666667

In [47]:
# Retorna apenas a parte inteira, não arredonda o número!
14 // 3

4

In [45]:
int(14 / 3)

4

In [46]:
int(14 / 3) == 14 //3

True

In [49]:
# Utilizamos o round para arredondar o número
round(14 / 3)

5

Desafio 1 - Peça para o usuário digitar uma velocidade inicial (em m/s), uma posição inicial (em m) e um instante de tempo (em s) e imprima a posição de um projétil nesse instante de tempo.

Use a fórmula matemática:

y(t) = y(0) + v(0)*t + (g*(t**2)/2)

Onde, g é a aceleração da gravidade (-10m/s²), y(t) é a posição final, y(0) é a posição inicial, v(0) é a velocidade inicial e t é o instante de tempo.

In [55]:
y0 = float(input('Digite a posição inicial'))
v0 = float(input('Digite a velocidade inicial'))
t = float(input('Digite um instante de tempo'))

g = -10
yt = y0 + v0 * t + (g*(t**2)/2)
print('A posição no instante t =', t, 'é', yt)

Digite a posição inicial 10
Digite a velocidade inicial 100000
Digite um instante de tempo 10

A posição no instante t = 10.0 é 999510.0

In [56]:
## Listas
lista_de_inteiros = [10, 1, 7, 8]
lista_de_float = [10.3, 1.0, 7., 8.9]
lista_strings = ['João', 'da', 'Silva']
lista_mista = [10, 20, 31.5, ['a', 'c', 'd'], 'a']

In [58]:
lista_mista[1]

20

In [60]:
len(lista_mista)

5

In [62]:
sub_lista = lista_mista[3]

In [64]:
sub_lista[0]

'a'

In [65]:
sub_lista[1]

'c'

In [66]:
sub_lista[-1]

'd'

In [67]:
lista_mista[3][0]

'a'

In [68]:
lista_de_listas = [
            [
        [1,2,3],
        [4,5,6]
        ]
    ]

In [73]:
lista_de_listas[0][1][2]

6

In [ ]:
## For

In [74]:
for elemento in lista_mista:
    print(elemento)

10
20
31.5
['a', 'c', 'd']
a

In [76]:
for i, elemento in enumerate(lista_mista):
    print('indice:', i, 'elemento:', elemento)

indice: 0 elemento: 10
indice: 1 elemento: 20
indice: 2 elemento: 31.5
indice: 3 elemento: ['a', 'c', 'd']
indice: 4 elemento: a

In [77]:
isinstance(0, int)

True

In [78]:
isinstance('a', int)

False

In [84]:
lista_achatada = []
for elemento in lista_mista:
    
    if isinstance(elemento, list):  # alternativa, type(elemento) == list
        print('O elemento é uma lista', elemento)
        for sub_elemento in elemento:
            print('Adicionando na lista o sub_elemento', sub_elemento)
            lista_achatada.append(sub_elemento)
    else:
        print('Adicionando na lista o elemento', elemento)
        lista_achatada.append(elemento)
    print('-'*21)

Adicionando na lista o elemento 10
---------------------
Adicionando na lista o elemento 20
---------------------
Adicionando na lista o elemento 31.5
---------------------
O elemento é uma lista ['a', 'c', 'd']
Adicionando na lista o sub_elemento a
Adicionando na lista o sub_elemento c
Adicionando na lista o sub_elemento d
---------------------
Adicionando na lista o elemento a
---------------------

In [86]:
lista_mista

[10, 20, 31.5, ['a', 'c', 'd'], 'a']

In [85]:
lista_achatada

[10, 20, 31.5, 'a', 'c', 'd', 'a']

In [6]:
### Slices

In [91]:
lista_mista[0:3]

[10, 20, 31.5]

In [94]:
lista_mista[-3: -1]

[31.5, ['a', 'c', 'd']]

In [97]:
# lista_mista[0] retorna um elemento que pode ser str, int, float, mas não uma lista.
# Precisamos retornar para lista e assim conseguimos concatenar as listas
lista_mista[-3: -1] + [lista_mista[0]]

[31.5, ['a', 'c', 'd'], 10]

In [123]:
lista_numerica = [10, 20, 31, 32, 0, -20, -21.5]

In [105]:
lista_ordenada = sorted(lista_numerica,)

In [118]:
lista_ordenada

[-21.5, -20, 0, 10, 20, 31, 32]

In [116]:
# no slicing de listas temos que: [começo:fim:passo]
lista_ordenada[::-1]

[32, 31, 20, 10, 0, -20, -21.5]

In [117]:
lista_ordenada[0: 10: 2]

[-21.5, 0, 20, 32]

In [120]:
lista_ordenada[10::-1]

[32, 31, 20, 10, 0, -20, -21.5]

In [121]:
lista_ordenada[10:0:-1] # Pegando o primeiro elemento até o penúltimo elemento que é o 0 menos 1 (0 - 1)

[32, 31, 20, 10, 0, -20]

In [124]:
# Ordenando a lista e colocando do maior para o menor elemento
sorted(lista_numerica, reverse=True)

[32, 31, 20, 10, 0, -20, -21.5]

In [7]:
### Compreensão de listas

In [128]:
# Utilizar compreensão de listas para retornar números pares
# Quando utilizamos apenas uma comparação (`if`) fica no final da frase
[num for num in lista_numerica if num % 2 == 0]

[10, 20, 32, 0, -20]

In [ ]:
# Quando utilizamos o `if` e `else` a comparação fica no inicio da frase
[f'O número {num} é par' if num % 2 == 0 else f"O número {num} é impar" for num in lista_numerica]

In [129]:
lista1 = [1,2,3]
lista2 = [4,5,6]
[lista1[i] + lista2[i] for i, elemento in enumerate(lista1)]

[5, 7, 9]

In [131]:
# Utilizando o zip para somar os elementos de mesmo indice
print(list(zip(lista1, lista2)))
[num1 + num2 for num1, num2 in zip(lista1, lista2)]

[(1, 4), (2, 5), (3, 6)]

[5, 7, 9]

In [9]:
### Removendo um elemento da lista (pop vs del)

In [141]:
copia_lista_numerica = lista_numerica[::]  # gerando uma copia segura
copia_lista_numerica_insegura = lista_numerica

In [143]:
lista_numerica

[10, 20, 31, 32, 0, -20, -21.5]

In [144]:
copia_lista_numerica

[10, 20, 31, 32, 0, -20, -21.5]

In [145]:
copia_lista_numerica_insegura

[10, 20, 31, 32, 0, -20, -21.5]

In [146]:
# Del, deleta o valor e não conseguimos atribuir a uma variavel ou utilizar esse valor
del lista_numerica[0]

In [149]:
print(lista_numerica)
print(copia_lista_numerica)
print(copia_lista_numerica_insegura)

[20, 31, 32, 0, -20, -21.5]
[10, 20, 31, 32, 0, -20, -21.5]
[20, 31, 32, 0, -20, -21.5]

In [151]:
# O pop, ele retira o valor da lista, porém conseguimos atribuir a uma variavel!!
lista_numerica.pop(0)

20

In [152]:
print(lista_numerica)
print(copia_lista_numerica)
print(copia_lista_numerica_insegura)

[31, 32, 0, -20, -21.5]
[10, 20, 31, 32, 0, -20, -21.5]
[31, 32, 0, -20, -21.5]

In [165]:
fila_numeros = [10, 15, 31, 2, 4, 3, 17]
while fila_numeros:
    numero = fila_numeros.pop(0)
    print(numero)
    print(fila_numeros)

10
[15, 31, 2, 4, 3, 17]
15
[31, 2, 4, 3, 17]
31
[2, 4, 3, 17]
2
[4, 3, 17]
4
[3, 17]
3
[17]
17
[]

In [10]:
## Dicionários

In [166]:
dic_pessoas = {
    'nome': 'João',
    'idade': 22,
    'altura': 170
}

In [168]:
dic_pessoas['nome']

'João'

In [169]:
dic_pessoas['idade']

22

In [170]:
dic_pessoas['altura']

170

In [171]:
dic_pessoas.keys()

dict_keys(['nome', 'idade', 'altura'])

In [172]:
dic_pessoas.values()

dict_values(['João', 22, 170])

In [174]:
for chave, valor in dic_pessoas.items():
    print(f'Chave "{chave}"', 'valor', valor)

Chave "nome" valor João
Chave "idade" valor 22
Chave "altura" valor 170

In [175]:
for chave in dic_pessoas:
    print(chave)

nome
idade
altura

In [176]:
for chave in dic_pessoas.keys():
    print(chave)

nome
idade
altura

In [177]:
lista_pessoas = [
    {"nome": "João",
    "idade": 32,
    "altura": 180},
    {"nome": "Maria",
    "idade": 28,
    "altura": 175},
    {"nome": "Zé",
    "idade": 30,
    "altura": 190},
    
]

In [183]:
nome_pessoas = []

for pessoa in lista_pessoas:
    nome_pessoas.append(pessoa['nome'])

# for pessoa in lista_pessoas:
#     print(pessoa.get('nome')) # Pegando o valor pela chave utilizando o get

In [184]:
nome_pessoas

['João', 'Maria', 'Zé']

In [189]:
nome_pessoas = []
idades = []
infomacoes = []
for pessoa in lista_pessoas:
    nome_pessoas.append(pessoa['nome'])
    idades.append(pessoa['idade'])
    infomacoes.append((pessoa['nome'], pessoa['idade']))

# for pessoa in lista_pessoas:
#     print(pessoa.get('nome')) # Pegando o valor pela chave utilizando o get

In [190]:
idades

[32, 28, 30]

In [191]:
nome_pessoas

['João', 'Maria', 'Zé']

In [192]:
# Juntando as informações com o zip
list(zip(nome_pessoas, idades))

[('João', 32), ('Maria', 28), ('Zé', 30)]

In [194]:
infomacoes

[('João', 32), ('Maria', 28), ('Zé', 30)]

In [193]:
list(zip(nome_pessoas, idades)) == infomacoes

True

Como você armazenaria a seguinte tabela usando apenas dicionários? Tente imprimir o valor correspondente da linha Pedro x Coluna B.

      Coluna A	Coluna B  
Maria	1	5  
Pedro	0.5	3  
João	3.2	1

In [197]:
dicionario = {
    'indices': ['Maria', 'Pedro', 'João'],
    "colunaA": [1, 0.5, 3.2],
    'colunaB': [5, 3, 1]
}

In [199]:
# Solução utilizando dicionário e listas como valores!
nome = 'Pedro'
indice = dicionario['indices'].index(nome)  # Pegando o valor do indice com o metodo `index`
valor_b = dicionario['colunaB'][indice]
print('O valor da coluna B para o nome', nome, 'é', valor_b)

O valor da coluna B para o nome Pedro é 3

In [200]:
# Solução utilizando apenas dicionário
dicionario = {
    'Maria': {'colA': 1, 'colB': 5},
    "Pedro": {'colA': 0.5, 'colB': 3},
    'João': {'colA': 3.2, 'colB': 1}
}

In [201]:
dicionario['Pedro']['colB']

3

In [203]:
## if, elif, else
for x in range(1, 13):
    if x % 2 == 0:
        print(f'O número {x} é divisivel por 2')
    elif x % 3 == 0:
        print(f'O número {x} é divisivel por 3')
    else:
        print(f'O número {x} não é divisivel por 2 e nem por 3')

O número 1 não é divisivel por 2 e nem por 3
O número 2 é divisivel por 2
O número 3 é divisivel por 3
O número 4 é divisivel por 2
O número 5 não é divisivel por 2 e nem por 3
O número 6 é divisivel por 2
O número 7 não é divisivel por 2 e nem por 3
O número 8 é divisivel por 2
O número 9 é divisivel por 3
O número 10 é divisivel por 2
O número 11 não é divisivel por 2 e nem por 3
O número 12 é divisivel por 2

In [205]:
## if, elif, else
for x in range(1, 13):
    if x % 2 == 0:
        if x % 3 == 0:
            print(f'O número {x} é divisivel por 2 e por 3')
        else:
            print(f'O número {x} é divisivel por 2')
    elif x % 3 == 0:
        print(f'O número {x} é divisivel por 3')
    else:
        print(f'O número {x} não é divisivel por 2 e nem por 3')

O número 1 não é divisivel por 2 e nem por 3
O número 2 é divisivel por 2
O número 3 é divisivel por 3
O número 4 é divisivel por 2
O número 5 não é divisivel por 2 e nem por 3
O número 6 é divisivel por 2 e por 3
O número 7 não é divisivel por 2 e nem por 3
O número 8 é divisivel por 2
O número 9 é divisivel por 3
O número 10 é divisivel por 2
O número 11 não é divisivel por 2 e nem por 3
O número 12 é divisivel por 2 e por 3

Super Desafio! - Calcule a soma de mil termos dos inversos dos fatoriais: 1/(1!) + 1/(2!) + 1/(3!) + 1/(4!) + ...

Dica: Assim como no exercício anterior use três variáveis: um contador; uma variável para a soma; e uma variável para os termos. Lembre-se de que 4! = 4*3*2*1 que também é igual a 4*3!.

In [217]:
fatorial = 1
soma = 0
for n in range(1, 1001):
    fatorial *= n
    soma += 1 / fatorial
print(soma)

1.7182818284590455

## Funções

In [218]:
def soma_inverso_fatorial(numero):
    fatorial = 1
    soma = 0
    for n in range(1, numero + 1):
        fatorial *= n
        soma += 1 / fatorial
    return (soma)

In [220]:
soma_1000 = soma_inverso_fatorial(1000)

In [221]:
soma_1000

1.7182818284590455

In [222]:
def soma_inverso_fatorial_print(numero):
    fatorial = 1
    soma = 0
    for n in range(1, numero + 1):
        fatorial *= n
        soma += 1 / fatorial
    print(soma)

In [223]:
soma_1000_print = soma_inverso_fatorial_print(1000)

1.7182818284590455

In [225]:
soma_1000_print, type(soma_1000_print)

(None, NoneType)

In [226]:
def soma(a, b):
    return a + b

In [227]:
soma(1, 2)

3

### Funções recursivas

### Argumentos opcionais *args, **kwargs

In [228]:
def soma(*args):
    print(args)
    return sum(args)

In [229]:
soma(1, 2, 3)

(1, 2, 3)

6

In [233]:
# *args insere os elementos posicionais não atribuidos a uma tupla.
# Nesse caso, os elementos posicionais não atribuidos começam a partir do terceiro valor!
def soma(a, b, *args):
    print(a, b)
    print(args)
    return a + b + sum(args)

In [231]:
soma(1, 2, 3)

1 2
(3,)

6

In [232]:
soma(1, 2, 3, 4, 5)

1 2
(3, 4, 5)

15

In [236]:
def retorna_info(**kwargs):
    print(kwargs)
    nome = kwargs['nome']
    idade = kwargs['idade']
    return (nome, idade)

In [237]:
retorna_info(nome='Gil', idade=34)

{'nome': 'Gil', 'idade': 34}

('Gil', 34)

In [238]:
def retorna_info(nome, **kwargs):
    print(kwargs)
    idade = kwargs['idade']
    return (nome, idade)

In [239]:
retorna_info(nome='Gil', idade=34)

{'idade': 34}

('Gil', 34)

Super Desafio! - faça uma função que criptografa uma mensagem substituindo cada letra pela letra oposta do dicionário:

'a' por 'z'

'b' por 'y'

'c' por 'x'

Super Desafio! - Faça um jogo de BlackJack usando funções: o BlackJack, ou Vinte e Um, é um jogo em que os jogadores podem comprar cartas livremente, enquanto tiverem menos de 21 pontos. No nosso jogo, o Ás vale um ponto; as cartas de 2 a 10 valem o número de pontos que elas representam; e Valete, Dama e Rei valem 10 pontos cada. Ganha o jogador que tiver o maior número de pontos, desde que este seja menor ou igual a 21. Nosso jogo deve ter as seguintes funções:

a. Função principal: a função que vamos chamar para iniciar o jogo. Essa função não irá receber nem retornar nenhuma variável. Ela deve perguntar o número de jogadores participantes e o nome de cada um. Em seguida ela chama as outras funções do jogo.

b. Função para criar o baralho: essa função deve criar um baralho (uma lista) com as cartas do baralho.

c. Função para a jogada: essa função deve receber o nome do jogador que irá realizar a jogada e, caso ele ainda esteja ativo (tenha menos de 21 pontos e ainda não tenha desistido de comprar cartas) deve perguntar se ele quer comprar uma carta. Se ele responder que sim, a função deve chamar a próxima função para sortear uma carta e somar o valor retornado na pontuação do jogador; se ele responder que não, a função deve desativar o jogador para que ele não possa mais comprar cartas; Essa função só deve ser chamada enquanto houver jogadores ativos.

d. Função para o sorteio: essa função retira uma carta aleatória do baralho e retorna o número de pontos que essa carta vale.

e. Função verificação: verifica e indica qual/quais jogador/jogadores tem o maior número de pontos, que seja menor ou igual a 21.

## Classes

In [240]:
class Pessoa:
    def __init__(self, nome):
        self.nome = nome

In [241]:
pessoa = Pessoa(nome='Gil')

In [242]:
pessoa.nome

'Gil'

In [243]:
class Pessoa:
    def __init__(self, nome):
        self.nome = nome

    def fala(self, frase):
        print(f'{self.nome} disse, {frase}')

In [244]:
pessoa = Pessoa(nome='Gil')

In [246]:
pessoa.fala("Oi!")
pessoa.fala("Olá!")

Gil disse, Oi!
Gil disse, Olá!

### Herança

In [247]:
class Mae:
    def __init__(self, param='Sou mãe'):
        self.param = param

In [248]:
obj1 = Mae()

In [249]:
obj1.param

'Sou mãe'

In [266]:
class Mae:
    def __init__(self, param='Sou mãe'):
        self.param = param

class Filha(Mae):
    def __init__(self, param2='Sou filha'):
        self.param2 = param2
        super().__init__()  # Mae.__init__(self)

In [267]:
obj2 = Filha()

In [268]:
obj2.param2

'Sou filha'

In [269]:
obj2.param

'Sou mãe'

### Webscraping

In [308]:
html = '''
<html>
  <body>
    <p class="a" id="primeiro"> 
      Meu nome é João
    </p>
    <p class="a" id="segundo"> 
      Tenho 23 anos.
    </p>
    <p class="b" id="segundo"> 
      Sou vida loka
    </p>
    <p class="a" id="terceiro"> 
      Estudo Python com orgulho
    </p>
    <p class="b" id="quarto"> 
      E não gosto de JavaScript
    </p>
    <div class='Btn'>...
    </div> 
  </body>
</html>'''

In [309]:
import bs4

In [310]:
soup = bs4.BeautifulSoup(html, 'html.parser')

In [311]:
soup

<html>
<body>
<p class="a" id="primeiro">
      Meu nome é João
    </p>
<p class="a" id="segundo">
      Tenho 23 anos.
    </p>
<p class="b" id="segundo">
      Sou vida loka
    </p>
<p class="a" id="terceiro">
      Estudo Python com orgulho
    </p>
<p class="b" id="quarto">
      E não gosto de JavaScript
    </p>
<div class="Btn">...
    </div>
</body>
</html>

In [312]:
print(soup.prettify())

<html>
 <body>
  <p class="a" id="primeiro">
   Meu nome é João
  </p>
  <p class="a" id="segundo">
   Tenho 23 anos.
  </p>
  <p class="b" id="segundo">
   Sou vida loka
  </p>
  <p class="a" id="terceiro">
   Estudo Python com orgulho
  </p>
  <p class="b" id="quarto">
   E não gosto de JavaScript
  </p>
  <div class="Btn">
   ...
  </div>
 </body>
</html>

In [313]:
# Achando a todas as ocorrencia da tag p
soup.find_all('p')

[<p class="a" id="primeiro">
       Meu nome é João
     </p>,
 <p class="a" id="segundo">
       Tenho 23 anos.
     </p>,
 <p class="b" id="segundo">
       Sou vida loka
     </p>,
 <p class="a" id="terceiro">
       Estudo Python com orgulho
     </p>,
 <p class="b" id="quarto">
       E não gosto de JavaScript
     </p>]

In [314]:
# Achando a primeira ocorrencia da tag p
soup.find('p')

<p class="a" id="primeiro">
      Meu nome é João
    </p>

In [315]:
# Conseguimos pegar todos os elementos com a tag p e que contem o class=b
soup.find_all('p', class_='b')

[<p class="b" id="segundo">
       Sou vida loka
     </p>,
 <p class="b" id="quarto">
       E não gosto de JavaScript
     </p>]

In [316]:
# Conseguimos pegar todos os elementos com a tag p e que contem o class=a
soup.find_all('p', class_='a')

[<p class="a" id="primeiro">
       Meu nome é João
     </p>,
 <p class="a" id="segundo">
       Tenho 23 anos.
     </p>,
 <p class="a" id="terceiro">
       Estudo Python com orgulho
     </p>]

In [317]:
# Conseguimos pegar todos os elementos com a tag p e que contem o id=terceiro
soup.find_all('p', id='terceiro')

[<p class="a" id="terceiro">
       Estudo Python com orgulho
     </p>]

In [318]:
# Achando a primeira ocorrencia da tag p com o id=terceiro
soup.find('p', id='terceiro')

<p class="a" id="terceiro">
      Estudo Python com orgulho
    </p>

In [319]:
# Conseguimos pegar o texto utilizando o atributo text
soup.find('p', id='terceiro').text

' \n      Estudo Python com orgulho\n    '

In [320]:
# Conseguimos pegar o texto com o metodo get_text()
soup.find('p', id='terceiro').get_text()

' \n      Estudo Python com orgulho\n    '

In [321]:
soup.find('p', id='terceiro').text == soup.find('p', id='terceiro').get_text()

True

________________

In [323]:
soup.find_all('p', id='segundo')

[<p class="a" id="segundo">
       Tenho 23 anos.
     </p>,
 <p class="b" id="segundo">
       Sou vida loka
     </p>]

In [324]:
soup.find_all('p', id='segundo', class_='a')

[<p class="a" id="segundo">
       Tenho 23 anos.
     </p>]

In [325]:
soup.find_all('p', id='segundo', class_='b')

[<p class="b" id="segundo">
       Sou vida loka
     </p>]