# Bibliotecas e APIs

## 2 - LC | Pandas 1

Questão #1

Enunciado

Em um concurso público foram contabilizados os números de pessoas inscritas (até a data inicialmente estabelecida para a inscrição) segundo os níveis de escolaridade: fundamental completo, médio completo, superior completo e pós-graduação completa. Segue abaixo a tabela com os valores observados.

Nível de escolaridade	Inscritos
Fundamental completo	451
Médio completo	627
Superior completo	292
Pós-graduação completa	95

Com base na tabela acima, crie uma Series com esses valores e calcule:

(a) O número total de inscritos
(b) Número inscritos que possuem, pelo menos, o superior completo.
(c) Suponha que a inscrição foi prorrogada e, com isso, foi obtido um número adicional de inscrições: 68, 93, 22 e 0 inscritos a mais em cada uma das categorias de escolaridade apresentados na tabela acima (na mesma ordem). Assim, crie uma nova Series com esses valores.
(d) Utilizando as duas Series que você tem, calcule o número total de inscritos após a prorrogação do período de inscrições.

In [170]:
import pandas as pd

labels = ['Fundamental completo', 'Medio completo', 'Superior completo', 'Pos-graduacao completa']
val1 = [451, 627, 292, 95]
val2 = [68, 93, 22, 0]

serie1 = pd.Series(data=val1, index=labels)
sc = serie[serie.index == 'Superior completo'].values.sum()
serie2 = pd.Series(data=val2, index=labels)
serie3 = serie1 + serie2

print(f'(a) O número total de inscritos: {serie.values.sum()}')
print(f'(b) Número inscritos que possuem, pelo menos, o superior completo: {sc}')
print(f'(d) O número total de inscritos: {serie3.values.sum()}')

(a) O número total de inscritos: 30.7
(b) Número inscritos que possuem, pelo menos, o superior completo: 0.0
(d) O número total de inscritos: 1648

Questão #2

Enunciado
Uma turma de cinco alunos foi submetida a uma avaliação e a nota de cada um dos alunos é apresentada na tabela abaixo:

Nome do Aluno	Nota
Wilfred	2
Abbie	7
Harry	5.5
Julia	10
Carrie	6.2

(a) Crie uma Series com os valores da tabela acima.

(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).

(c) Qual foi a nota média da turma.

(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.

In [171]:
import pandas as pd

nome = ['Wilfred', 'Abbie', 'Harry', 'Julia', 'Carrie']
nota = [2.0, 7.0, 5.5, 10.0, 6.2]
serie = pd.Series(data=nota, index=nome)

print('(a) Crie uma Series com os valores da tabela acima.')
print(serie)
print('\n(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).')
print(serie[serie.values >= 7.0].size)
print('\n(c) Qual foi a nota média da turma.')
media = serie.values.mean()
print(media)
print('\n(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.')
print(serie[serie.values > media].index.tolist())

(a) Crie uma Series com os valores da tabela acima.
Wilfred     2.0
Abbie       7.0
Harry       5.5
Julia      10.0
Carrie      6.2
dtype: float64

(b) Retorne o número de alunos que foram aprovados (considerando que a nota mínima para a aprovação é 7).
2

(c) Qual foi a nota média da turma.
6.14

(d) Obtenha o nome dos alunos que tiraram notas acima da média da turma.
['Abbie', 'Julia', 'Carrie']

Questão #3

Enunciado

Crie um objeto DataFrame que contenha os dados da tabela abaixo, os quais se referem ao peso, altura e idade de cinco pessoas:

Peso (kg)	Altura (cm)	Idade
72	180	31
80	170	21
60	175	16
90	174	28
100	185	23
Com base no DataFrame criado, realize o que pedido nos itens abaixo:

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.

(b) Obtenha a idade média das pessoas.

(c) Obtenha os dados das pessoas que estão abaixo da altura média.

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.

(e) Remova a coluna que contém a idade das pessoas.

(f) Salve esses dados do DataFrame em um arquivo csv.

In [111]:
import pandas as pd

data = {'peso': [72, 80, 60, 90, 100], 'altura': [180, 170, 175, 174, 185], 'idade': [31, 21, 1, 28, 23]}
df = pd.DataFrame(data)
print(df)
print('\n(a) Visualize apenas os dados da coluna que contém a altura das pessoas.')
print(df['altura'].to_string(index=False))
print('\n(b) Obtenha a idade média das pessoas.')
print(df['idade'].mean())
am = df['altura'].mean()
print(f'\n(c) Obtenha os dados das pessoas que estão abaixo da altura média ({am}).')
print(df[df['altura'] < df['altura'].mean()]) 
print('\n(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.')
imc = round((df['peso'] / (df['altura']/100)**2),2)
imclist = [imc.values]
#df = df.assign(IMC = imc)               
#df.insert(3, "imc", imc, True)
df['imc'] = imc
print(imc)
print('\n(e) Remova a coluna que contém a idade das pessoas.')
del df['idade']
print(df)
print('\n(f) Salve esses dados do DataFrame em um arquivo csv.')
df.to_csv('./datasets/2-exercicios-Pandas-questao-3-imc.csv', index=False, header=True, sep=';')

   peso  altura  idade
0    72     180     31
1    80     170     21
2    60     175      1
3    90     174     28
4   100     185     23

(a) Visualize apenas os dados da coluna que contém a altura das pessoas.
180
170
175
174
185

(b) Obtenha a idade média das pessoas.
20.8

(c) Obtenha os dados das pessoas que estão abaixo da altura média (176.8).
   peso  altura  idade
1    80     170     21
2    60     175      1
3    90     174     28

(d) Crie um nova coluna no DataFrame que contenha o IMC (Índice de Massa Corporal) de cada pessoa.
0    22.22
1    27.68
2    19.59
3    29.73
4    29.22
dtype: float64

(e) Remova a coluna que contém a idade das pessoas.
   peso  altura    imc
0    72     180  22.22
1    80     170  27.68
2    60     175  19.59
3    90     174  29.73
4   100     185  29.22

(f) Salve esses dados do DataFrame em um arquivo csv.

Questão #4

Enunciado

Carregue, em um objeto DataFrame, o arquivo CSV que você salvou no item (f) da questão anterior. Em seguida,

(a) Crie uma nova coluna que contenha o nome das pessoas (sinta-se à vontade para atribuir os nomes que preferir).

(b) Defina a nova coluna criada (com os nomes) como o índice (index) do seu DataFrame.

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9).

In [172]:
import pandas as pd

df = pd.read_csv ('./datasets/2-exercicios-Pandas-questao-3-imc.csv', sep=';')

print('(a) Crie uma nova coluna que contenha o nome das pessoas')
nomes = ['Maria', 'Joao', 'Ezequiel', 'Aparecida', 'Paulo']
df['nome'] = nomes
print (df)
print('\n(b) Defina a nova coluna criada (com os nomes) como o índice (index)')
df.set_index('nome', inplace=True)
print (df)
print('\n(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9)')
filtro = (df['imc'] >= 25) & (df['imc'] <= 29.9)
print(df[filtro].index.tolist())

(a) Crie uma nova coluna que contenha o nome das pessoas
   peso  altura    imc       nome
0    72     180  22.22      Maria
1    80     170  27.68       Joao
2    60     175  19.59   Ezequiel
3    90     174  29.73  Aparecida
4   100     185  29.22      Paulo

(b) Defina a nova coluna criada (com os nomes) como o índice (index)
           peso  altura    imc
nome
Maria        72     180  22.22
Joao         80     170  27.68
Ezequiel     60     175  19.59
Aparecida    90     174  29.73
Paulo       100     185  29.22

(c) Obtenha o nome das pessoas que são classificadas com Sobrepeso (IMC entre 25 e 29,9)
['Joao', 'Aparecida', 'Paulo']

Questão #5

Enunciado

Carregue, em um objeto DataFrame, o mesmo dataset que você salvou na Questão 3. Em seguida,

(a) Adicione uma nova coluna nesse DF chamada Classificação, que contenha a classificação de cada indivíduo, 
de acordo com o seu IMC. Para isso, consulte a tabela abaixo.

IMC	Classificação	Obesidade (grau)
Menor que 18,5	Magreza	0
Entre 18,5 e 24,9	Normal	0
Entre 25,0 e 29,9	Sobrepeso	I
Entre 30,0 e 39,9	Obesidade	II
Maior que 40,0	Obesidade Grave	III
(b) Salve em DataFrame no formato xlsx.

In [181]:
import pandas as pd

df = pd.read_csv ('./datasets/2-exercicios-Pandas-questao-3-imc.csv', sep=';')

data = {'IMC_de': [0, 18.5, 25.0, 30.0, 40.0], 'IMC_ate': [18.5, 24.9, 29.9, 39.9, 80.0],'Classificacao': ['Magreza', 'Normal', 'Sobrepeso', 'Obesidade', 'Obesidade Grave'], 'Obesidade': ['0','0','I', 'II', 'III']}
df_imc_class = pd.DataFrame(data)

imc_class_list = list()
for e in df['imc']:
    #print(e)
    for i in range(len(df_imc_class)) :
        imc_de = df_imc_class.iloc[i, 0]
        imc_ate = df_imc_class.iloc[i, 1]
        imc_class = df_imc_class.iloc[i, 2] 
        if ((e >= imc_de) and (e <= imc_ate)):
            #print(imc_class)
            imc_class_list.append(imc_class)

df['classificacao'] = imc_class_list
df.to_excel('./datasets/2-exercicios-Pandas-questao-5-imc-class.xlsx', sheet_name='IMC', index=False, header=True)
df

   peso  altura    imc classificacao
0    72     180  22.22        Normal
1    80     170  27.68     Sobrepeso
2    60     175  19.59        Normal
3    90     174  29.73     Sobrepeso
4   100     185  29.22     Sobrepeso

In [161]:
for i in range(len(df_imc_class)) : 
    print(df_imc_class.iloc[i, 0], df_imc_class.iloc[i, 1], df_imc_class.iloc[i, 2])

0.0 18.5 Magreza
18.5 24.9 Normal
25.0 29.9 Sobrepeso
30.0 39.9 Obesidade
40.0 40.0 Obesidade Grave

In [169]:
df

   peso  altura    imc Classificacao classificacao
0    72     180  22.22        Normal        Normal
1    80     170  27.68     Sobrepeso     Sobrepeso
2    60     175  19.59        Normal        Normal
3    90     174  29.73     Sobrepeso     Sobrepeso
4   100     185  29.22     Sobrepeso     Sobrepeso